
@{
    ViewBag.Title = "Tuto11";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 30px; margin-bottom: 25px">9 lỗi phổ biến trên Xbox Series và cách giải quyết</h2>
    <div class="post-details">
        <div class="post-content">
            <p id="1" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">1. Đĩa bị kẹt trong ổ đĩa, phát ra tiếng động</h4>
            <p style="-webkit-user-select: auto;">Một số người dùng <a href="/may-xbox-series-x-s" style="-webkit-user-select: auto;">Xbox Series X</a> đang gặp sự cố khi đĩa bị kẹt lúc cho vào ổ đĩa, thậm chí còn phát ra tiếng ồn nếu cố gắng nhét vào.</p>
            <p style="-webkit-user-select: auto;">
                <b>Cách khắc phục:</b> <br style="-webkit-user-select: auto;">
                <b>Cách 1:</b> Sử dụng một miếng vải nhỏ để lau sạch đĩa rồi nhét vào lại. Nếu không được thì làm bước tiếp theo. <br style="-webkit-user-select: auto;">
                <b>Cách 2:</b> Hãy nhét thử đĩa vào một cỗ máy console khác, nếu đĩa vẫn hoạt động bình thường ở máy Xbox Series X khác thì vấn đề chính là nằm ở ổ đĩa trên máy bạn. <br style="-webkit-user-select: auto;">
                <b>Cách 3:</b> Có thể một lớp bụi hoặc vật cản lạ đã chiếm không gian ổ đĩa vì thế bạn cần kiểm tra và làm sạch ổ đĩa sau đó tiến hành nhét đĩa vào lại. Nếu vẫn không thể thì bạn cần liên lạc với HALO để sửa chữa hoặc thay thế.
            </p>
            <img alt="Tổng hợp những lỗi thường gặp trên Xbox Series và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc-1.jpg" style="-webkit-user-select: auto;">

            <p id="2" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">2. Đĩa không hoạt động</h4>

            <p style="-webkit-user-select: auto;">Nếu máy <a href="/may-xbox-series-x-s" style="-webkit-user-select: auto;">Xbox Series</a> của bạn không nhận tín hiệu khi bạn lắp đĩa vào hoặc yêu cầu bạn đưa đĩa vào dù trong ổ đã có đĩa thì có thể xảy ra vấn đề ở máy hay ổ đĩa của bạn. </p>
            <p style="-webkit-user-select: auto;"> <b>Cách khắc phục</b></p>
            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Đầu tiên hãy tiến hành reset lại và điều chỉnh lại nguồn điện máy Xbox của bạn bằng cách nhấn chọn nút Xbox trên tay cầm.</li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Chọn Settings -&gt; Profile &amp; System -&gt; Settings -&gt; General -&gt; Power Mode &amp; Start-Up -&gt; Energy-Saving. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Sau đó nhấn và giữ nút Xbox trên tay cầm trong 10 giây cho đến khi máy tắt hoàn toàn.</li>
                <li style="-webkit-user-select: auto;">
                    <b>Bước 4:</b> Chờ 1 phút sau và nhấn nút nguồn trên máy Xbox Series X và thử lắp đĩa lại lần nữa.
                    Nếu đĩa vẫn không hoạt động thì bạn đã có sự cố với ổ đĩa và bạn nên đem máy đi sửa chữa hoặc thay thế.
                </li>
            </ul>

            <p id="3" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">3. Xbox Series không khởi động</h4>
            <p style="-webkit-user-select: auto;">Bỗng một ngày Xbox Series của bạn không khởi động được thì bạn cũng đừng quá lo lắng, có thể đã xảy ra sự cố với nguồn điện bên trong. Microsoft cho biết những vấn đề này thường xuất hiện sau khi nguồn điện đột ngột sau đó nguồn điện sẽ tự thiết lập lại. </p>
            <p style="-webkit-user-select: auto;"><b>Cách khắc phục:</b> </p>
            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Kiểm tra ổ cắm mà Xbox Series đang được cắm vào còn hoạt động bằng cách thử cắm trên một thiết bị khác, nếu ổ cắm không có vấn đề bạn làm bước tiếp theo. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Thực hiện thiết lập lại nguồn điện bên trong bằng cách rút dây nguồn của Xbox Series X trong 10 giây, sau đó cắm lại. Nếu cách đó vẫn không giải quyết được sự cố của bạn hãy chuyển sang bước 3. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Hãy loại bỏ dây nguồn hiện tại trên Xbox và thử kết nối một dây nguồn khác với Xbox và tiến hành bật máy lại. </li>
            </ul>

            <p id="4" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">4. KHÔNG THỂ KẾT NỐI TAY CẦM</h4>
            <div class="div_50" style="-webkit-user-select: auto;">
                <p style="-webkit-user-select: auto;">Đôi lúc bộ tay cầm điều khiển không kết nối được với Xbox Series X dù trước đó vẫn bình thường thì bạn có thể khắc phục tình trạng đó theo hướng dẫn dưới đây. </p>
                <p style="-webkit-user-select: auto;">
                    <b>Cách khắc phục:</b> <br style="-webkit-user-select: auto;">
                    <b>Cách 1:</b> Kiểm tra xem tay cầm của bạn đã bật nguồn và còn pin hay không.<br style="-webkit-user-select: auto;">
                    <b>Cách 2:</b> Thử kết nối tay cầm với máy console, PC khác để xem tay có bị hư không.<br style="-webkit-user-select: auto;">
                    <b>Cách 3:</b> Nếu đã đảm bảo tay cầm còn pin và hoạt động tốt thì bạn hãy cài đặt lại tay cầm bằng cách sau.<br style="-webkit-user-select: auto;">
                </p>
            </div>
            <div class="div_50" style="-webkit-user-select: auto;">
                <img alt="Tổng hợp những lỗi thường gặp trên Xbox Series và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc-2.jpg" style="-webkit-user-select: auto;">
            </div>

            <div class="clear" style="-webkit-user-select: auto;"></div>

            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Bật nguồn Xbox Series X và tay cầm của bạn bằng cách nhấn nút Xbox. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Nhấn và giữ nút Ghép nối trên tay cầm và cả máy Xbox cho đến khi logo Xbox bắt đầu nhấp nháy nhanh (ở tay cầm nút Xbox ngay trên cổng USB phía trước, còn ở trên máy thì nút Xbox ở mặt sau bên cạnh cổng USB ). </li>
            </ul>
            Nếu cả máy và tay cầm đều hoạt động bình thường thì đèn trên Xbox Series và tay điều khiển của bạn sẽ chuyển từ trạng thái nhấp nháy nhanh sang tốc độ chậm rồi khi chuyển sang màu trắng đồng nhất (kết nối thành công). Nếu không, hãy tiếp tục cách 4.<br style="-webkit-user-select: auto;">
            <p>
                <b>Cách 4:</b> Tiến hành khôi phục cài đặt gốc cho Xbox Series X để giải quyết sự cố kết nối tay cầm. Nhấn và giữ nút Xbox ở mặt trước bảng điều khiển của bạn trong 10 giây cho đến khi máy tắt hoàn toàn. Chờ thêm 1 phút sau đó nhấn lại nút nguồn để mở lại máy Xbox.<br style="-webkit-user-select: auto;">
                <b>Cách 5:</b> Nếu vẫn không kết nối, hãy sử dụng cáp USB để cắm trực tiếp tay cầm vào Xbox bằng cổng USB ở mặt trước.
            </p><p style="-webkit-user-select: auto;"></p>
            <p id="5" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">5. Không có tín hiệu với TV hoặc hình ảnh bị gián đoạn</h4>
            <div class="div_50" style="width: 50%; float: left; padding: 0 5px;"><img alt="Tổng hợp những lỗi thường gặp trên Xbox Series và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc-4.jpg" style="width: 510px;"></div>

            <div class="div_50" style="width: 50%; float: left; padding: 0 5px;">
                <p style="-webkit-user-select: auto;"><br><a href="/may-xbox-series-x-s" style="-webkit-user-select: auto;">Cỗ máy next-gen Xbox Series X</a> được hỗ trợ 4K HDR lên tới 120Hz với công nghệ cho phép màn hình thay đổi refresh rate liên tục tuỳ theo tùy theo fps đang có -Variable Refresh Rate (VRR) nhờ tiêu chuẩn HDMI 2.1 nhưng điều này có thể gây ra sự cố trên TV của bạn. Đặc biệt, nếu bạn đang sử dụng TV hỗ trợ Variable Refresh Rate (VRR) từ LG, Samsung hoặc Vizio, bạn có thể gặp tình trạng không có tín hiệu TV hoặc hình ảnh hiển thị bị hỏng, gián đoạn. </p>
                <p>
                    <a href="/ban-se-chon-xbox-series-x-thay-vi-ps5-boi-ly-do-nay" style="-webkit-user-select: auto;">Lý do Xbox Series X được yêu thích trong mùa dịch</a>
                </p>
            </div>
            <div class="clear" style="clear:both"></div>

            <p style="-webkit-user-select: auto;">
                <b>Cách khắc phục:</b> <br style="-webkit-user-select: auto;">
                <b>Cách 1:</b> Kiểm tra TV của bạn đã được cập nhật phần mềm phiên bản mới nhất hay chưa, nếu chưa hãy tiến hành cập nhật và thử kết nối lại. Nếu rồi hãy thử bước tiếp theo. <br style="-webkit-user-select: auto;">
                <b>Cách 2:</b> Hãy khởi động máy Xbox ở chế độ an toàn, còn nếu bạn có thể nhìn thấy đủ các nút điều hướng trên màn hình thì bạn có thể bỏ qua bước này và chuyển sang bước 3. Để đặt bảng điều khiển của bạn ở chế độ an toàn, hãy làm như sau: <br style="-webkit-user-select: auto;">
            </p><ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Tiến hành rút đĩa game ra khỏi máy Xbox. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b>Nhấn nút Xbox trên bảng điều khiển của bạn trong 10 giây. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Nhấn và giữ các nút Xbox + Eject đồng thời cho đến khi bạn nghe thấy hai tiếng bíp. Xbox Series của bạn sẽ ở hoạt động chế độ phân giải thấp từ lúc này. </li>
            </ul>
            <p><b>Cách 3:</b> Mở menu Cài đặt (Settings) -&gt; Chung (General) -&gt; TV -&gt; Tùy chọn hiển thị (Display Options) -&gt; Chế độ video (Video Modes). Sau đó thay đổi thông số độ phân giải trong Tùy chọn hiển thị (Display Options) và cài đặt tốc độ làm mới trong Chế độ video (Video Modes). </p><p style="-webkit-user-select: auto;"></p>

            <p style="-webkit-user-select: auto;">
                Vì vấn đề này xuất hiện khi Xbox xuất hình ảnh 4K ở 120Hz với công nghệ tốc độ làm mới Variable Refresh Rate (VRR) được bật. Nên HALO khuyên bạn thay đổi thành 1 trong 3 lựa chọn sau để giải quyết: <br style="-webkit-user-select: auto;">
                - 1440p ở 120Hz với VRR bật.<br style="-webkit-user-select: auto;">
                - 4K ở 60Hz với VRR bật.<br style="-webkit-user-select: auto;">
                - 4K ở 120Hz nhưng không có VRR (tắt) .
            </p>
            <p style="-webkit-user-select: auto;">Nếu vẫn không thể kết nối với TV, bạn hãy tắt luôn Variable Refresh Rate (VRR) trên TV của bạn. Mỗi TV hơi khác nhau một chút, vì vậy hãy tham khảo sách hướng dẫn của bạn để được hướng dẫn chính xác. </p>

            <p id="6" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">6. Trò chơi không khởi chạy với 0x800708ca hoặc lỗi tương tự</h4>

            <p style="-webkit-user-select: auto;">Khi bắt đầu chạy một số trò chơi nhất định trên Xbox Series X, bạn có thể được báo lỗi với nội dung như sau: “Đã xảy ra lỗi. 0x800708ca. ” Lỗi này sẽ xuất hiện khi bạn cố gắng chạy một số trò chơi Xbox One nhất định đã được nâng cấp lên phiên bản Series X. Ví dụ: Gears 5 và Forza Horizon 4 đều là trò chơi Xbox One với các bản vá lỗi Series X. Sau khi nâng cấp lên bản vá Series X, bạn có thể gặp phải lỗi này khi khởi chạy. </p>
            <p style="-webkit-user-select: auto;"><b>Cách khắc phục:</b> </p>

            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Bạn có thể thử gỡ cài đặt lại trò chơi đang gây ra sự cố. Nếu vẫn không được thì bạn cần cài đặt lại Xbox Series của bạn sau khi nâng cấp trò chơi ở bước 2. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Chọn Cài đặt (Settings) -&gt; Hệ thống (System) -&gt; Thông tin bảng điều khiển (Console Info) -&gt; Đặt lại bảng điều khiển (Reset Console). </li>
                <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Chọn Đặt lại và Giữ Trò chơi &amp; Ứng dụng của tôi (Reset and Keep My Games &amp; Apps). </li>
            </ul>

            <p id="7" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">7. Tính năng Smart Delivery không cài game được</h4>
            <p style="-webkit-user-select: auto;">Tính năng Smart Delivery Game của Microsoft cho phép người chơi tải phiên bản mới nhất của trò chơi đa thế hệ. Ví dụ: nếu bạn đã sở hữu Gears 5 trên Xbox One, bạn sẽ nhận được phiên bản Series X miễn phí. Tuy nhiên, tính năng này cũng gặp phải một số vấn đề khi không nhận ra rằng quá trình cài đặt đã hoàn tất. Do đó, việc di chuyển trò chơi của bạn từ ổ cứng ngoài sang bộ nhớ trong của Series X có thể không giải quyết được sự cố. </p>
            <p style="-webkit-user-select: auto;"><b>Cách khắc phục:</b> Hiện tại, cách duy nhất để giải quyết là bạn phải gỡ và cài đặt lại các trò chơi ấy mà thôi. Bạn làm như sau: </p>
            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Chọn trò chơi, sau đó nhấn nút Hướng dẫn. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Chọn Gỡ cài đặt. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Sau đó truy cập Trò chơi &amp; Ứng dụng của tôi. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 4:</b> Chọn lại trò chơi đã gỡ và chọn Cài đặt. </li>
            </ul>
            <p id="8" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">8. Chụp, quay video và chia sẻ không thành công</h4>
            <div class="div_50" style="width: 50%; float: left; padding: 0 5px;">
                <p style="-webkit-user-select: auto;">Hiện tại khi bạn chụp, quay video để chỉnh sửa và chia sẻ trên Xbox Series X sẽ nhận được thông báo lỗi "không thành công". Cũng có một số vấn đề khác như lúc tải video 4K quay từ Xbox Series lên Xbox Live thấy báo lỗi không đăng được hoặc khi chia sẻ clip lên Twitter sẽ thấy màn hình trống sau khi tải lên. </p>
                <p style="-webkit-user-select: auto;"><b>Cách khắc phục:</b> </p>
                <ul style="-webkit-user-select: auto;">
                    <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Kiểm tra Xbox của bạn đã được nâng cấp lên màn hình mới nhất chưa. Nếu chưa thì hãy tiến hành cập nhật, còn rồi thì làm bước tiếp theo. </li>
                    <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Mở menu Settings -&gt; Preferences -&gt; Capture &amp; Share. </li>
                    <li style="-webkit-user-select: auto;"><b>Bước 3:</b> Cài đặt lại độ phân giải của clip trò chơi thành 1080p. </li>
                </ul>
            </div>
            <div class="div_50" style="width: 50%; float: left; padding: 0 5px;"><img alt="Tổng hợp những lỗi thường gặp trên Xbox Series và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-xbox-va-cach-khac-phuc-3.jpg" style="width: 520px;"></div>
            <div class="clear" style="-webkit-user-select: auto;"></div>


            <p id="9" style="-webkit-user-select: auto;"></p><h4 style="-webkit-user-select: auto;">9. Wi-Fi không hoạt động </h4>
            <p style="-webkit-user-select: auto;">Đôi khi người dùng gặp sự cố dù điện thoại kết nối Wi-Fi được nhưng <a href="/may-xbox-series-x-s" style="-webkit-user-select: auto;">Xbox</a> thì lại không hoặc kết nối rất chập chờn. Cho đến hiện tại thì Microsoft vẫn chưa có bản sửa lỗi chính thức cho các sự cố Wi-Fi này. Để tránh tình trạng này, bạn nên kết nối mạng Ethernet hoặc điểm phát mạng di động (mobile hotspot). Trường hợp bất khả kháng bạn chỉ có thể kết nối với Wi-Fi thôi thì hãy thử cách dưới đây để cải thiện hơn. </p>

            <p style="-webkit-user-select: auto;"><b>Cách khắc phục:</b> </p>
            <ul style="-webkit-user-select: auto;">
                <li style="-webkit-user-select: auto;"><b>Bước 1:</b> Chuyển từ băng tần 5GHz sang băng tần 2.4GHz của bộ định tuyến Wi-Fi của bạn hoặc ngược lại. Nếu cách đó không giải quyết được sự cố, hãy chuyển sang bước tiếp theo. </li>
                <li style="-webkit-user-select: auto;"><b>Bước 2:</b> Mở cài đặt bộ định tuyến Wi-Fi của bạn lên và tắt WPA2 cho băng tần 5GHz. Mỗi bộ định tuyến có một cách khác nhau để truy cập trình điều khiển, vì vậy hãy tham khảo hướng dẫn sử dụng bộ định tuyến của bạn để làm chính xác. </li>
            </ul>
        </div>
    </div>
</div>
<style>
    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>