
@{
    ViewBag.Title = "Tuto3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align:center;margin-top:30px;margin-bottom:25px">Tổng hợp những lỗi thường gặp trên PS5 và cách khắc phục</h2>
    <div class="post-content" wfd-id="304">
        <p>Xin chào các bạn, trong bài viết hôm nay HALO xin chia sẻ các lỗi hiện gặp trên PS5 nhằm giúp các bạn có thể khắc phục cũng như biết nguyên nhân gây ra các lỗi trên khi bạn sử dụng máy chơi game PS5.</p>
        <iframe width="700" height="394" src="https://www.youtube.com/embed/0L-VJMBY-wE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <center><strong><em>Xem thêm nhiều video đặc sắc hơn tại <a target="_blank" href="https://www.youtube.com/user/haloshop82?sub_confirmation=1">HALO Youtube Channel</a></em></strong></center>
        <p id="1"></p><h4>1. CE-100028-1: Không đủ bộ nhớ trống trên SSD</h4>

        <p>Một mã lỗi rất phổ biến khi SSD trên chiếc PS5 của chúng ta không còn đủ dung lượng trống để ghi thêm tựa game mới. Lỗi này cũng khá đơn giản và có thể khắc phục dễ dàng bằng cách:</p>

        <p>Kiểm tra xem có đủ dung lượng để tải xuống không. Vào mục Cài đặt (Settings), sau đó đến Bộ nhớ (Storage) và cuối cùng là Bộ nhớ hệ thống (System Storage). Đánh dấu dữ liệu chúng ta muốn xóa và nhấn nút chọn. Chọn Xóa (Delete) để xóa nội dung.</p>
        <img alt="Tổng hợp lỗi trên PS5 và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-loi-tren-ps5-va-cach-khac-phuc/tong-hop-loi-tren-ps5-va-cach-khac-phuc-1.jpg">

        <p id="2"></p><h4>2. CE-105799-1: Không thể kết nối đến Máy chủ (Unable to connect to server)</h4>
        <p>Lỗi không thể kết nối với máy chủ xảy ra khi PS5 của bạn không kết nối được với hệ thống của PlayStation và thường được thấy dưới dạng mã lỗi CE-105799-1. Sony hiện đã lập ra danh sách chi tiết đầy đủ các mẹo khắc phục sự cố cần thực hiện nếu chúng ta gặp phải lỗi này.</p>
        <ul wfd-id="330">
            <li wfd-id="335">Nếu sử dụng mạng LAN thì bạn cần khởi động lại PS5 và cấu hình lại cài đặt mạng.</li>
            <li wfd-id="334">Còn khi sử dụng kết nối Wi-Fi thì bạn hãy kiểm tra lại vị trí lắp đặt chẳng hạn như vị trí của router gần/xa hay có vật cản truyền tín hiệu nào chắn giữa router với PS5 không. Nếu có thì loại bỏ vật cản ấy, nếu không thì làm thực hiện bước tiếp theo.</li>
            <li wfd-id="333">Sau khi xác định đường truyền tín hiệu không có vật cản nhưng PS5 vẫn bị báo lỗi thì bạn thực hiện reset router/modem bằng cách đó tắt router hay modem và đợi ít nhất 5 phút, sau đó khởi động lại.</li>
            <img alt="Tổng hợp lỗi trên PS5 và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-loi-tren-ps5-va-cach-khac-phuc/tong-hop-loi-tren-ps5-va-cach-khac-phuc-2.jpg">

            <li wfd-id="332">Hoặc bạn có thể Update firmware router. Để biết chi tiết về cách cập nhật, vui lòng liên hệ với nhà mạng bạn đang sử dụng (VNPT, FPT hay Viettel). Nếu có thể, hãy thử mở các cổng này. TCP: 80, 443, 3478, 3479, 3480 và UDP: 3478, 3479,49152 ~ 65535. Để được trợ giúp về cách mở cổng và cài đặt modem, vui lòng liên hệ nhà mạng của bạn.</li>
            <li wfd-id="331">Thiết lập lại địa chỉ IP của bạn trong cài đặt mạng thành IP tĩnh theo hình thức thủ công.</li>
        </ul>
        <p id="3"></p><h4>3. CE-112069-9: Lỗi khi chuyển dữ liệu qua mạng (An error occurred on data transfer via a network)</h4>

        <p>Đây là lỗi khi chúng ta chuyển dữ liệu từ chiếc PS4 cũ sang chiếc PS5 mới. Đây là một số cách để các anh em có thể khắc phục nếu gặp phải mã lỗi trên:</p>

        <ul wfd-id="327">
            <li wfd-id="329">Nếu anh em đang kết nối PS4 và PS5 với Wi-Fi thì hãy chuyển sang cắm dây trực tiếp vào router. Sau đó tắt và đợi khoảng 5 phút rồi khởi động lại router.</li>
            <li wfd-id="328">Nếu các anh em chỉ muốn chuyển file data lưu game thì có thể dùng USB hoặc bộ lưu trữ đám mây. Tuyệt đối không sử dụng tính năng Network Test hay không được bật chế độ nghỉ PS5 (Rest Mode) trong khi quá trình chuyển giao dữ liệu nền đang thực hiện.</li>
        </ul>
        <img alt="Tổng hợp lỗi trên PS5 và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-loi-tren-ps5-va-cach-khac-phuc/tong-hop-loi-tren-ps5-va-cach-khac-phuc-3.jpg">

        <p id="4"></p><h4>4. NP-103105-0, NP-103107-2, NP-103109-4, NP-103111-7, NP-103117-3: Dịch vụ này hiện đang Bảo trì (This service is currently under maintenance)</h4>
        <p>Mạng PSN đôi khi không thể truy cập được vì vô số lý do có thể do đường truyền internet không ổn định hoặc do máy chủ Sony không hoạt động. Bạn có thể khắc phục bằng cách này:</p>

        <li wfd-id="326">Cài đặt lại kết nối mạng trên PS5 và thử kiểm tra lại kết nối mạng lần nữa.</li>
        <li wfd-id="325">Tắt bộ định tuyến/modem của bạn và đợi ít nhất 5 phút trước khi bật lại.</li>
        <li wfd-id="324">Nếu cách trên không hiệu quả, anh em hãy thử lại sau vì đường dây có thể tạm thời bị tắc nghẽn. Còn nếu dù đã thử các cách trên nhưng tình hình không mấy cải thiện, thì có lẽ vì lý do đứt cáp quang hay nhà mạng bóp băng thông và lựa thời điểm khác trong ngày để chơi nhé.</li>

        <p id="5"></p><h4>5. CE-100005-6: PS5 không cài được game (PS5 won't install game)</h4>
        <p>Đã có nhiều người dùng cho rằng họ nhận được mã lỗi CE-100005-6 khi đang tìm cách cài đặt game vào hệ thống. Và sau đây là một số cách anh em có thể thực hiện để khắc phục:</p>

        <ul wfd-id="319">
            <li wfd-id="323">Kiểm tra các vết ố hoặc dấu tay có trên đĩa game vật lý, cẩn thận lau đĩa xuống bằng vải sợi nhỏ và thử cài đặt lại.</li>
            <li wfd-id="322">Vẫn không được nữa thì bạn thử xóa toàn bộ cài đặt và tải xuống lại. Nếu bạn đang tải đồng thời bản cập nhật và game, hãy tạm dừng tiến trình cập nhật và để trò chơi tải xuống đầy đủ trước.</li>
            <li wfd-id="321">Cách khác nữa là bạn thử khôi phục cài đặt gốc cho PS5 của bạn.</li>
            <li wfd-id="320">Nếu vẫn không được nữa thì có khả năng đĩa game của bạn đã bị lỗi.</li>
        </ul>
        <p id="6"></p><h4>6. Chế độ Nghỉ gây crash máy</h4>
        <p>Chế độ nghỉ ngơi (Rest Mode) là một tính năng không mới đối với phần cứng của Sony. Thật không may khi có thông tin cho rằng việc sử dụng chế độ nghỉ ngơi trên PS5 của bạn sẽ gây ra lỗi nghiêm trọng, gây crash và thậm chí làm hỏng thiết bị. Cho đến khi Sony phát hành bản cập nhật mới nhất, điều tốt nhất hiện tại chúng ta cần làm là tắt chế độ nghỉ ngơi trên PS5 của mình. Để thực hiện như vậy, anh em hãy làm theo những bước sau:</p>
        <img alt="Tổng hợp lỗi trên PS5 và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-loi-tren-ps5-va-cach-khac-phuc/tong-hop-loi-tren-ps5-va-cach-khac-phuc-4.jpg">

        <ul wfd-id="314">
            <li wfd-id="318">Trên menu chính của PlayStation 5, chọn Cài đặt (Settings).</li>
            <li wfd-id="317">Trong Cài đặt Hệ thống (System Settings), chọn Tiết kiệm năng lượng (Power Saving).</li>
            <li wfd-id="316">Chọn Đặt thời gian cho đến khi PS5 vào Chế độ nghỉ (Set Time Until PS5 Enters Rest Mode).</li>
            <li wfd-id="315">Chọn Tắt chế độ nghỉ ngơi (Disable rest mode).</li>
        </ul>
        <p id="7"></p><h4>7. DualSense không thể sạc bằng cổng USB phía trước của PS5</h4>
        <p>Nhiều người đã phản ánh về tình trạng chiếc tay cầm PS5 của họ không thể sạc bằng cổng USB trước. Hãy đảm bảo rằng bạn đang sử dụng cáp USB đi kèm máy và nên sử dụng cổng USB phía sau để giải quyết được vấn đề.</p>
        <p id="8"></p><h4>8. Tiếng động lạ từ chiếc PS5</h4>
        <p>Một vài người cho biết họ mất tập trung trong mỗi cuộc chơi bởi tiếng ồn kì lạ phát ra từ PS5. Hiện vẫn chưa có nguyên nhân cụ thể nào được đưa ra nhưng anh em có thể khắc phục bằng cách đặt PS5 theo chiều khác - dọc hoặc ngang.</p>
        <p id="9"></p><h4>9. PS5 bị quá nhiệt</h4>
        <p>Chiếc PS5 quá nóng bởi nguyên nhân chính xuất phát từ việc chiếc console này không được thông gió tốt. Và sau đây là một số mẹo khắc phục:</p>
        <img alt="Tổng hợp lỗi trên PS5 và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-loi-tren-ps5-va-cach-khac-phuc/tong-hop-loi-tren-ps5-va-cach-khac-phuc-5.jpg">

        <ul wfd-id="309">
            <li wfd-id="313">Không đặt trong tủ hay vị trí kín.</li>
            <li wfd-id="312">Phần quạt tản nhiệt nằm ngay bên dưới backplate nên các anh em đừng phủ hay bọc máy lại.</li>
            <li wfd-id="311">Đặt máy cách tường vừa đủ (rộng hơn càng tốt) cho lượng không khí lưu thông liên tục.</li>
            <li wfd-id="310">Nếu tình trạng này còn tiếp diễn, nguyên nhân có thể xuất phát từ chính bộ phận tản nhiệt lúc này bạn có thể liên hệ Sony để được hỗ trợ.</li>
        </ul>
        <p id="10"></p><h4>10. DualSense bị drift (trôi cần Analog)</h4>
        <p>Vừa qua Sony cũng đã tiếp nhận cáo buộc pháp lý liên quan đến cần Joystick bị trôi dẫn đến việc chơi các tựa game gặp nhiều vấn đề. Anh em có thể fix nhẹ bằng cách thực hiện một vài thủ thuật sau:</p>
        <ul wfd-id="305">
            <li wfd-id="308">Xác định cần Joystick bị lỗi và làm sạch mặt dưới bằng cồn tẩy rửa. Nếu có thể, hãy xịt khí nén vào mặt dưới để tống bụi ra.</li>
            <li wfd-id="307">Đảm bảo chiếc tay cầm đã được cập nhật phiên bản phần mềm mới nhất.</li>
            <li wfd-id="306">Anh em thử thiết lập lại ban đầu chiếc DualSense bằng cách dùng que có kích thước mảnh chọc vào lỗ mặt sau và đợi 3-5 giây. Kết nối lại chiếc tay cầm như ban đầu thông qua dây USB.</li>
        </ul>
        <p>Và đó là toàn bộ những lỗi phổ biến hiện tại trên PS5 và cách khắc phục. Mong là bài viết và video này sẽ hữu ích phần nào cho các anh em có ý định sở hữu PS5 trong thời gian tới. Đừng quên gia nhập Cộng đồng PS5 để cập nhật những tin tức mới nhất về PS5 nhé.</p>
    </div>
</div>
<style>
    .row-page h3 {
        text-align: center;
    }

    .row-page iframe {
        display: block;
        margin: 15px auto !important;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>
