
@{
    ViewBag.Title = "Tuto4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title">Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết</h2>
    <div class="post-content" wfd-id="376">
        <table class="tbl-info" style="-webkit-user-select: auto;">
            <tbody style="-webkit-user-select: auto;">
                <tr style="background-color: rgb(248, 248, 248); -webkit-user-select: auto;">
                </tr>
            </tbody>
        </table>
        <h3 style="-webkit-user-select: auto;">Máy chơi game Nintendo Switch là gì?</h3>
        <p style="-webkit-user-select: auto;"><a href="#" style="-webkit-user-select: auto;">Nintendo Switch</a> là hệ máy chơi game mới nhất của nhà Nintendo đang rất hot trên thị trường, thay đổi hoàn toàn cách mà bạn chơi game từ trước đến nay. Không giống như những chiếc máy console khác vốn cồng kềnh, kích thước lớn không có tính di động cũng như không gian chơi game chỉ quanh quẩn trong phòng mà thôi thì Nintendo Switch là sự kết hợp giữa máy Console truyền thống và máy Handheld cầm tay có thể biến hình thành 3 trạng thái khác nhau bao gồm:</p>
        <h4 style="-webkit-user-select: auto;">Chế độ Handheld Mode</h4>
        <p style="-webkit-user-select: auto;">Bạn có thể chơi mọi loại game Nintendo Switch như một chiếc tablet thực thụ với 2 chiếc Joy-Con (tay cầm điều khiển) gắn vào hai cạnh của phần tablet. Ở chế độ này, bạn có thể chơi game mọi lúc mọi nơi, không giới hạn về mặt không gian.</p>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/mode-3.jpg" style="-webkit-user-select: auto;">
        <h4 style="-webkit-user-select: auto;">Chế độ Tabletop mode</h4>
        <p style="-webkit-user-select: auto;">Còn bây giờ hãy tháo cặp Joy-Con ra, sử dụng chúng như hai chiếc tay cầm tách rời cho hai người. Gạt chân chống ở phía sau tablet để "biến hình" thành chế độ để bàn, chơi game siêu vui với những tựa game nhiều người.</p>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/mode-2.jpg" style="-webkit-user-select: auto;">
        <h4 style="-webkit-user-select: auto;">Chế độ TV mode</h4>
        <p style="-webkit-user-select: auto;">Đây là chế độ mang lại cho bạn trải nghiệm game tối đa với Nintendo Switch. Chỉ cần lắp chiếc tablet vào Dock, kết nối Dock với TV thông qua dây HDMI và cấp nguồn cho Dock là bạn đã có thể thưởng thức các tựa game đặc sắc trên TV màn hình lớn ở độ phân giải Full HD cực nét cực đã.</p>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/mode-1.jpg" style="-webkit-user-select: auto;">
        <h3 style="-webkit-user-select: auto;">Thông tin về phần cứng</h3>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/tat-tan-tat-nintendo-switch-26.jpg" style="-webkit-user-select: auto;">
        <p style="-webkit-user-select: auto;">Trung tâm của chiếc máy Nintendo Switch là phần tablet nơi chứa bộ xử lý, bộ truy xuất hình ảnh cùng màn hình 6,3-inch cảm ứng đa điểm, độ phân giải tối đa 1280x720 pixel. Hai bên là hai ray để lắp tay cầm Joy-Con. Bạn hoàn toàn có thể tháo nó ra để lắp vào grip sạc đã được đi kèm với máy chứ không cần phải tốn thêm tiền mua ngoài. Phần viền màn hình còn là nơi chứa cảm biến ánh sáng và hai loa Stereo.</p>
        <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Cạnh trên</b> có nút nguồn, nút tăng giảm âm lượng, cổng Audio, thẻ bỏ thẻ game.</p>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/tat-tan-tat-nintendo-switch-27.jpg" style="-webkit-user-select: auto;">
        <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Cạnh dưới</b> có cổng sạc USB-C để sạc cho tablet hoặc kết nối với Dock.</p>
        <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Mặt sau</b> có chân chống cho chế độ Tabletop và khe thẻ nhớ.</p>
        <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Chiếc Switch Dock đi kèm máy</b> là phụ kiện giúp xuất hình ảnh lên TV màn hình lớn, chơi game ở độ phân giải Full HD. Cấu tạo rất đơn giản như hình bên dưới:</p>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/tat-tan-tat-nintendo-switch-28.jpg" style="-webkit-user-select: auto;">
        <p style="-webkit-user-select: auto;">


        </p><h3 style="-webkit-user-select: auto;">Trọn bộ sản phẩm</h3>
        <div class="div_50" style="-webkit-user-select: auto;" wfd-id="396">
            <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Trọn bộ máy chơi game Nintendo Switch sẽ bao gồm:</b></p>
            <ul style="-webkit-user-select: auto;" wfd-id="397">
                <li style="-webkit-user-select: auto;" wfd-id="405">Nintendo Switch Console (Tablet)</li>
                <li style="-webkit-user-select: auto;" wfd-id="404">Nintendo Switch Dock</li>
                <li style="-webkit-user-select: auto;" wfd-id="403">Joy-Con (Trái)</li>
                <li style="-webkit-user-select: auto;" wfd-id="402">Joy-Con (Phải)</li>
                <li style="-webkit-user-select: auto;" wfd-id="401">Joy-Con Wrist Straps</li>
                <li style="-webkit-user-select: auto;" wfd-id="400">Joy-Con Grip</li>
                <li style="-webkit-user-select: auto;" wfd-id="399">High Speed HDMI Cable</li>
                <li style="-webkit-user-select: auto;" wfd-id="398">Nintendo Switch AC Adapter</li>
            </ul>
        </div>
        <div class="div_50" style="-webkit-user-select: auto;" wfd-id="395"><img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/tat-tan-tat-nintendo-switch-25.jpg" style="-webkit-user-select: auto;"></div>
        <p style="-webkit-user-select: auto;">Công dụng của từng món phụ kiện bạn có thể xem tại <a href="/tin-tuc/cong-dung-cua-tung-mon-phu-kien-di-kem-theo-may-nintendo-switch" style="-webkit-user-select: auto;">bài viết này</a>.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2aja5gNfkzI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="-webkit-user-select: auto;"></iframe>
        <h3 style="-webkit-user-select: auto;">Tay cầm Joy-Con</h3>
        <p style="-webkit-user-select: auto;">Đây có thể nói là chiếc tay cầm đa dụng nhất bởi nó có thể được sử dụng trong nhiều trường hợp khác nhau đối với những tựa game khác nhau. Nó có thể hợp nhất với phần tablet của máy, cũng có thể tháo rời để chơi game 2 người một cách tự do hoặc có thể gắn vào phụ kiện Joy-Con Grip để biến thành một chiếc tay cầm rời hoàn chỉnh.</p>

        <p style="-webkit-user-select: auto;">Mỗi bên Joy-Con đều có 4 nút bấm, 1 joystick và một nút vai phụ. Bên trong mỗi chiếc có cả pin, kết nối không dây đến máy Switch và cả accelerometer đo được chuyển động của tay cầm. Cùng với đó, tay cầm bên phải có một camera AR đọc được cử động của tay bạn. Lấy ví dụ trò chơi oẳn tù tì, Joy-Con đủ sức nhận diện bạn ra lá, kéo hay nắm đấm. Đây là một tính năng cực kỳ độc đáo, biến các game xuất hiện trên Nintendo Switch trở nên sáng tạo hơn bao giờ hết. Hơn nữa, mỗi Joy-Con còn được tích hợp tính năng rung  mang lại trải nghiệm game chân thực hơn.</p>
        <p style="-webkit-user-select: auto;">Để dễ dàng hình dung những công dụng tuyệt vời của Joy-Con, mời xem trailer của tựa game 1-2-Switch:</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DpHDJRGuL7w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="-webkit-user-select: auto;"></iframe>
        <h3 style="-webkit-user-select: auto;">Nintendo Switch Lite là gì?</h3>

        <p style="-webkit-user-select: auto;"><a href="/nintendo/nintendo-switch-lite/may-nintendo-switch-lite" style="-webkit-user-select: auto;">Nintendo Switch Lite</a> là một thành viên mới với kích thước nhỏ gọn, nhẹ nhàng của gia đình Nintendo Switch. Sở hữu thiết kế nguyên khối chắc chắn và đặc biệt phù hợp với kiểu chơi cầm tay, vì vậy bạn có thể ngay lập tức thưởng thức các tựa game mình thích bất kỳ lúc nào mình muốn. Đây chính là hệ máy dành riêng cho game thủ thích di chuyển!</p>

        <p style="-webkit-user-select: auto;"><b style="-webkit-user-select: auto;">Với mức giá công bố rẻ hơn 100$</b> so với phiên bản tiêu chuẩn, <a href="/nintendo/nintendo-switch-lite/may-nintendo-switch-lite" style="-webkit-user-select: auto;">Nintendo Switch Lite</a> tất nhiên sẽ bị lược bỏ một số tính năng như: không thể gắn vào dock với chơi trên TV, Joy-Con sẽ dính liền vào thân máy, không còn tích hợp cảm biến camera hồng ngoại và cảm biến rung để chơi các tựa game vận động, màn hình bản Lite nhỏ hơn bản Switch chuẩn (5.5 inch so với 6.2 inch). Nhưng thay vào đó thì bản Lite vẫn chơi được hầu hết các game Nintendo Switch, hiệu năng tương đương mà lại tiết kiệm pin hơn, trọng lượng nhẹ nhàng hơn, di động hơn, sản phẩm được trang bị 3 màu sắc tươi tắn: Gray, Yellow và Turquoise. Nói cách khác Nintendo Switch Lite chính là phiên bản thu nhỏ của Nintendo Switch với giá thành tốt hơn, có thể đem theo bên cạnh và chơi cùng bạn bè mọi lúc.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TS13bBjqwbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="-webkit-user-select: auto;"></iframe>
        <h4 style="-webkit-user-select: auto;">Trọn bộ sản phẩm</h4>
        <p style="-webkit-user-select: auto;">Trọn bộ máy chơi game Nintendo Switch Lite bao gồm:</p>
        <ul style="-webkit-user-select: auto;" wfd-id="392">
            <li style="-webkit-user-select: auto;" wfd-id="394">Nintendo Switch Lite Console</li>
            <li style="-webkit-user-select: auto;" wfd-id="393">Nintendo Switch AC Adapter</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nEzudHNLrns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="-webkit-user-select: auto;"></iframe>
        <h3 style="-webkit-user-select: auto;">Chọn mua game cho Nintendo Switch/Switch Lite</h3>
        <p style="-webkit-user-select: auto;">Nintendo trong suốt chiều dài lịch sử gần 40 năm của mình đã sở hữu nhiều thương hiệu game đình đám nhất như Super Mario, Zelda, Pokemon,... thu hút hàng triệu game thủ đủ mọi độ tuổi gắn bó trung thành. Những tựa game hay nhất trên Nintendo Switch / Switch Lite có thể kể đến như: <b style="-webkit-user-select: auto;">The Legend of Zelda: Breath of the Wild, Super Mario Odyssey, Pokemon Sword and Shield, Xenoblade Chronicles 2, Animal Crossing...</b></p>
        <p style="-webkit-user-select: auto;">Có hai cách để mua game, mua item trong game cho Nintendo Switch / Switch Lite:</p>
        <ul style="-webkit-user-select: auto;" wfd-id="389">
            <li style="-webkit-user-select: auto;" wfd-id="391">Thứ nhất là mua qua kho ứng dụng Nintendo eShop, bạn có thể thanh toán bằng thẻ, hoặc nạp card eShop vào để mua.</li>
            <li style="-webkit-user-select: auto;" wfd-id="390">Thứ hai là mua băng game vật lý</li>
        </ul>
        <img alt="Tất tần tật về máy chơi game Nintendo Switch mà bạn cần biết" src="https://game.haloshop.vn/image/catalog/blogs/tat-tan-tat-nintendo-switch/tat-tan-tat-nintendo-switch-30.jpg" style="-webkit-user-select: auto;">
    </div>
</div>
<style>
    .row-page h2 {
        text-align: center;
    }

    .row-page iframe {
        display: block;
        margin: 15px auto !important;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>