
@{
    ViewBag.Title = "Tuto1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 50px;">Hướng dẫn tạo tài khoản PSN trên PS4 và PS5 nhanh và đơn giản nhất!</h2>
    <div class="post-details">
        <div class="post-content">
            <p>Để có thể mua và tải game từ cửa hàng PlayStation bạn cần phải có tài khoản PSN, PSN là chữ viết tắt của PlayStation Network, một dịch vụ trực tuyến của Sony dành cho các máy game console từ nhà phát hành Nhật Bản này. Hôm nay HALO sẽ hướng dẫn các bạn cách tạo tài khoản PSN trên cả 2 hệ máy tiên tiến nhất nhà Sony đó là PS4 và PS5 nhanh và đơn giản nhất.</p>
            <iframe width="700" height="394" src="https://www.youtube.com/embed/3nhPI6F-OSw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <center><strong><em style="font-size: 14px;">Xem thêm nhiều video đặc sắc hơn tại <a target="_blank" href="https://www.youtube.com/user/haloshop82?sub_confirmation=1">HALO Youtube Channel</a></em></strong></center>
            <h3 style=" margin-top: 25px;">HỆ THỐNG CỬA HÀNG GAME TRỰC TUYẾN CỦA SONY</h3>
            <h4 style="color: rgba(20, 102, 120, 1);font-weight:bold;font-size:20px">PSN LÀ GÌ? Về tài khoản PSN!</h4>
            <p>PSN là chữ viết tắt của PlayStation Network. Một dịch vụ trực tuyến của Sony dành cho máy chơi game PlayStation chính hãng của họ bắt đầu từ thế hệ PS Vita, PS3, PS4, và mới đây nhất là PS5. Tại đây, người dùng sẽ được trải nghiệm những tính năng như: Cửa hàng trực truyến mua game digital (trải nghiệm game không cần phải mua đĩa vật lý), nghe nhạc, xem phim, chơi trực tuyến, tải các bản DLC (mở rộng) của game,... Các game bạn mua trên cửa hàng PlayStation sẽ được tải vào ổ cứng của bạn và bạn có thể chơi bất kì lúc nào ở bất kì đâu mà không cần phải mang vác kho đĩa vật lý! Tài khoản PSN là một dạng account để bạn có thể đăng nhập vào Playstation Network để mua game. Do đó nếu muốn mua PSN game thì bạn cần có tài khoản PSN.</p>
            <p>Mời bạn tham gia <a href="https://www.facebook.com/groups/hoiyeuthichps5"> <strong> Group Hội những người yêu thích PS5 (PS5 Fan Community)</strong></a> để thảo luận và cập nhật tin tức Hot nhất về PS5.</p>
            <h3>HƯỚNG DẪN TẠO TÀI KHOẢN PSN TRÊN PS5 <br>NHANH VÀ ĐƠN GIẢN</h3>
            <p><strong>Bước 1: </strong>Sau khi bạn bật máy PS5 lên thì sẽ thấy ngay giao diện như hình, chọn Thêm người dùng. Hoặc trên máy tính bạn nhấp <a href="http://my.playstation.com">Tại đây</a> và bấm vào Create Account.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-1.jpg">
            <p>
                <strong>Bước 2: </strong>Ở góc tay trái xuất hiện lựa chọn Thêm một người dùng vào PS5 này, bạn nhấn chọn Bắt đầu chơi.
                <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-2.jpg">
            </p><p><strong>Bước 3: </strong>Chọn Đồng ý/Accept cho các điều khoản hoặc Next để vào tiếp giao diện tài khoản trên PS5 và chọn Tạo tài khoản/Create an Account. Đối với máy tính, bạn nhấn chọn Start.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-3.jpg">
            <p><strong>Bước 4: </strong>Sau đó nhập ngày tháng năm sinh (Tại đây bạn nên chọn ngày tháng sinh thật của chính bạn hoặc người thân để sua này tiện cho việc lấy lại tài khoản nếu quên mật khẩu. Và bạn chọn năm sinh từ 2000 trở lên để đạt trên 18 tuổi không bị giới hạn về game) và bấm Next.</p>
            <p><strong>Bước 5: </strong>Ở mục Country/Region bạn chọn quốc gia mà bạn muốn tạo account. Nếu bạn muốn tạo account PSN hệ ASIA thì nên chọn là Thailand, US thì chọn là United States (Không nên chọn Việt Nam). Phần Language thì chọn là tiếng Anh - English. </p>
            <p><strong>Bước 6: </strong>Điền Email và Password (Sony khuyến cáo nên điền từ 8 ký tự trở lên, phải có chứa ít nhất 2 loại ký tự trong 3 loại sau: chữ, số, ký hiệu đặc biệt).</p>
            <p><strong>Bước 7: </strong>Điền thông tin Họ và Tên của bạn.</p>
            <p><strong>Bước 8: </strong>Phần City/Thành phố bạn chọn Wattana, phần State/Province là Wattana luôn và Postcode là 10110. </p>
            <p>Nếu tài khoản hệ US thì chọn thành phố United States, State là Alaska, Delaware, Montana, New Hampshire và Oregon thì sẽ không bị đánh thuế và điền Postcode tương ứng với địa chỉ bạn chọn. Nếu tài khoản hệ EU thì chọn England, State là London, Postcode là WC2N 5DU). Sau đó chọn <strong>Avatar</strong>.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-4.jpg">
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-5.jpg">
            <p><strong>Bước 9: </strong>Chọn ID Online bất kỳ và không được trùng với người chơi khác.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-6.jpg">
            <p><strong>Bước 10: </strong>Cài đặt thông tin bảo mật cho hồ sơ của bạn sau đó chọn Next cho đến khi hiện giao diện Xác thực Email/Verify Your Email Address.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-7.jpg">
            <p><strong>Bước 11: </strong>Mở tài khoản Email và kiểm tra tin nhắn thông báo yêu cầu xác thực từ Sony và nhấn Verify Now và chờ đến khi màn hình hiện thông báo như dưới đây là thành công. Sau đó bạn chọn Đã xác minh ở giao diện PS5 để hoàn tất.</p>
            <img alt="Hướng dẫn tạo tài khoản PS5" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-8.jpg">

            <h3>HƯỚNG DẪN TẠO TÀI KHOẢN PSN TRÊN PS4 CHỈ 7 BƯỚC</h3>
            <iframe width="700" height="394" src="https://www.youtube.com/embed/4_IA5dEzygo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <p>
                <strong>Bước 1: </strong>Vào Settings &gt; Login Settings &gt; User Management &gt; Create User. <br>
                Hoặc trên máy tính bạn nhấp <a href="http://my.playstation.com">Tại đây</a> và bấm vào Create Account.<br>
                Chọn Accept cho các điều khoản hoặc Next để vào tiếp giao diện tài khoản trên PS4 và chọn Create an Account, với máy tính, bạn nhấn chọn Start.
            </p>
            <img alt="Hướng dẫn tạo tài khoản PS4" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-9.jpg">
            <p><strong>Bước 2: </strong>Ở mục Country/Region bạn chọn quốc gia mà bạn muốn tạo account. Nếu bạn muốn tạo account PSN hệ ASIA thì nên chọn là Thailand, US thì chọn là United States (Không nên chọn Việt Nam). Phần Language thì chọn là tiếng Anh - English. </p>
            <p>Sau đó nhập ngày tháng năm sinh (Tại đây bạn nên chọn ngày tháng sinh thật của chính bạn hoặc người thân để sua này tiện cho việc lấy lại tài khoản nếu quên mật khẩu. Và bạn chọn năm sinh từ 2000 trở lên để đạt trên 18 tuổi không bị giới hạn về game) và bấm Next.</p>
            <img alt="Hướng dẫn tạo tài khoản PS4" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-10.jpg">
            <p><strong>Bước 3: </strong>Phần City/Thành phố bạn chọn Wattana, phần State/Province là Wattana luôn và Postcode là 10110. </p>
            <p>Nếu tài khoản hệ US thì chọn thành phố United States, State là Alaska, Delaware, Montana, New Hampshire và Oregon thì sẽ không bị đánh thuế và điền Postcode tương ứng với địa chỉ bạn chọn. Nếu tài khoản hệ EU thì chọn England, State là London, Postcode là WC2N 5DU). Sau đó chọn <strong>Avatar</strong>.</p>
            <p>
                <strong>Bước 4: </strong>Điền Email và Password (Sony khuyến cáo nên điền từ 8 ký tự trở lên, phải có chứa ít nhất 2 loại ký tự trong 3 loại sau: chữ, số, ký hiệu đặc biệt). Sau đó chọn Avatar.
                <img alt="Hướng dẫn tạo tài khoản PS4" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5/huong-dan-tao-tai-khoan-psn-tren-ps4-va-ps5-11.jpg">
            </p><p><strong>Bước 5: </strong>Điền Online ID bất kỳ và không được trùng với người chơi khác. Phần First Name và Last Name bạn điền họ tên bạn, phần này có thể trùng được.</p>
            <p><strong>Bước 6: </strong>Cài đặt thông tin bảo mật cho hồ sơ của bạn sau đó chọn Next cho đến khi hiện giao diện Xác thực Email/Verify Your Email Address.</p>
            <p><strong>Bước 7: </strong>Mở tài khoản Email và kiểm tra tin nhắn thông báo yêu cầu xác thực từ Sony và nhấn Verify Now và chờ đến khi màn hình hiện thông báo như dưới đây là thành công.</p>

        </div>
    </div>
</div>
<style>
    .row-page iframe {
        display: block;
        margin: 15px 195px !important;
    }

    .row-page h3 {
        text-align: center;
    }

    .post-content img {
        display: block;
        margin: 15px 195px !important;
    }
</style>
