
@{
    ViewBag.Title = "Tuto9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 30px; margin-bottom: 25px">Hướng dẫn tạo tài khoản Xbox đơn giản</h2>
    <div class="post-details">
        <div class="post-content">
            <p>Để có toàn quyền truy cập tất cả dịch vụ cao cấp của Microsoft, tận hưởng những ưu đãi hấp dẫn như mua game giảm giá, nhận game miễn phí hay muốn quản lý dữ liệu (nhạc, game,...) trên thiết bị Xbox bạn cần thiết phải có cho mình tài khoản Xbox. Tuy nhiên nhiều người dùng lại không biết cách tạo tài khoản Xbox như thế nào cho nên hôm nay trong bài viết này, Game Store GOD sẽ hướng dẫn bạn cách đăng ký tài khoản Xbox.</p>
            <h4>Xbox Live là gì</h4>
            <p>Nếu bạn vừa sở hữu chiếc máy siêu xịn xò như <a href="/xbox-series-x-s">Xbox Series X/S</a> hay Xbox One từ nhà Microsoft hoặc bạn muốn đăng ký dịch vụ trò chơi điện tử của Microsoft thì tài khoản <b>Xbox Live</b> là tài khoản không thể thiếu. Xbox (hay Xbox Live) là một hệ thống dịch vụ trực tuyến dành cho việc chơi game và các nội dung được phân phối bởi hãng Microsoft đối với hệ thống máy chơi game Xbox, Xbox 360, <a href="/may-xbox-one-xbox-360">Xbox One</a>, Xbox One S, Xbox Series X/S.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-1.jpg">

            <p>Xbox Live cho phép game thủ chơi game online với mọi người trên toàn thế giới, tải các bản chơi thử, ứng dụng,... Dịch vụ Xbox Live được chia thành 2 loại: miễn phí (Xbox Live Silver) và thu phí (Xbox Live Gold). Tất nhiên dịch vụ thu phí sẽ có thêm nhiều tính năng hơn với nhiều ưu đãi hơn.</p>
            <h4>Tài khoản Xbox Live - Tài khoản Microsoft</h4>
            <p>Nhiều bạn thường nhầm lẫn giữa tài khoản Xbox Live và tài khoản Microsoft là khác nhau, tuy nhiên tài khoản Xbox Live cũng chính là tài khoản Microsoft của bạn. Dễ hiểu hơn, vì có chung hệ sinh thái là Microsoft nên bạn cũng có thể sử dụng tài khoản Microsoft của mình như là một tài khoản Xbox để tận hưởng những ưu đãi có trên chiếc máy game Xbox của mình.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-2.jpg">

            <h4>Hướng dẫn tạo tài khoản</h4>
            <p><strong>Bước 1:</strong> Bạn có thể tạo tài khoản Xbox bằng cách truy cập vào <a href="https://www.xbox.com/en-US/live">trang chủ Xbox</a> hoặc có thể tạo ngay trên chính chiếc Xbox trong bước set up máy. </p>
            <p><font color="#ff0000">Từ bước này trở đi Game Store GOD sẽ tạo tài khoản trên thiết bị chơi game Xbox.</font></p>
            <p><strong>Bước 2:</strong> Chọn ngôn ngữ và phiên bản ngôn ngữ. Dễ nhất đó là chọn <b>ngôn ngữ Tiếng Anh/English</b> và <b>phiên bản tiếng anh của Mỹ/United States</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-3.jpg">

            <p><strong>Bước 3:</strong> Kết nối <b>Wi-Fi</b>.</p>
            <p><strong>Bước 4:</strong> Chọn <b>Phân vùng tài khoản</b>. Để tận hưởng nhiều ưu đãi nhất thì chúng ta sẽ chọn phân vùng <b>Mỹ/United States</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-4.jpg">

            <p><strong>Bước 5:</strong> Tiếp theo là <b>Đăng nhập tài khoản hoặc đăng ký tài khoản mới</b>. </p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-5.jpg">

            <p>Tại đây nếu bạn đã có tài khoản Xbox Live hoặc tài khoản Microsoft rồi (Nếu đang sử dụng bất cứ dịch vụ nào trong số này, bạn sẽ có tài khoản Microsoft: Outlook, Office, Skype, OneDrive, Xbox Live, Bing, Store, Windows hoặc MSN) thì điền thông tin tài khoản vào còn nếu chưa có thì bạn chọn <b>Get A New Email</b>.</p>
            <p><strong>Bước 6:</strong> Điền <b>Địa chỉ email của bạn</b>. </p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-6.jpg">
            <p>Bạn có thể <b>sử dụng tài khoản mail Outlook</b> của mình hoặc tài khoản mail khác bằng cách chọn <b>Or Use Your Favorite Email</b>. Địa chỉ email này phải chưa từng được sử dụng, nếu địa chỉ email mà bạn chọn đã tồn tại, bạn sẽ được nhắc chọn lại.</p>


            <p><strong>Bước 7:</strong> Điền họ và tên của bạn. <b>First Name</b> là tên của bạn, còn <b>Last Name</b> là họ của bạn.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-7.jpg">
            <p><strong>Bước 8:</strong> Điền <b>Mật khẩu</b> cho tài khoản của bạn. </p>
            <p>Mật khẩu yêu cầu phải có ít nhất 8 ký tự, bắt buộc có chữ cái thường, chữ cái in hoa, số và ký tự. Sau khi nhập xong bạn <b>Xác minh lại mật khẩu lần nữa</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-8.jpg">
            <p><strong>Bước 9:</strong> Điền <b>Ngày tháng năm sinh</b> của bạn. </p>
            <p>Để trải nghiệm tất cả các thể loại game bạn nên điền trên 21 tuổi và nên sử dụng ngày tháng năm sinh thật hoặc của người thân nếu bạn chưa đủ tuổi để cần thiết cho quá trình xác nhận tài khoản sau này. <font color="#ff0000"><b>Lưu ý tại đây bạn điền theo thứ tự Tháng - Ngày - Năm</b></font>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-9.jpg">
            <p><strong>Bước 10:</strong> Thêm <b>Số điện thoại và tài khoản mail khác</b> của bạn để cần thiết cho quá trình xác nhận thông tin tài khoản sau này và nếu bạn có quên tài khoản cũng dễ dàng lấy lại hơn.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-10.jpg">
            <p><strong>Bước 11:</strong> Một bảng <b>Điều khoản về quyền riêng tư</b> của Microsoft sẽ hiện ra, bạn chọn <b>Next</b> sau khi đọc xong để đồng ý với điều khoản của Microsoft.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-11.jpg">
            <p><strong>Bước 12:</strong> Tiếp đến là <b>Xác minh tài khoản của bạn</b>. </p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-12.jpg">
            <p>Một code bảo mật sẽ được gửi đến địa chỉ email của bạn để xác thực. Để tiến hành bạn mở địa chỉ email vừa nhập và kiểm tra hộp thư đến hoặc thư mục Spam tìm email từ Microsoft để xác minh tài khoản. Để xác minh bạn <b>điền đoạn code 4 số</b> hoặc <b>nhấn vào dòng xanh dương</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-12a.jpg">
            <p><strong>Bước 13:</strong> Chọn <b>Next</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-13.jpg">

            <p><strong>Bước 14:</strong> Điền <b>Nick name</b> của bạn. Nick name này sẽ hiển thị khi bạn hoạt động với người khác.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-14.jpg">

            <p><strong>Bước 15:</strong> Chọn <b>Next</b> cho các tuỳ chọn thông báo tiếp theo. </p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-15a.jpg" class="twentytwenty-before" style="clip: rect(0px, 384.3px, 373px, 0px);">
            <p><strong>Bước 16:</strong> Sau khi chọn <b>Next</b> 4 lần, bạn sẽ được hỏi bạn muốn đăng nhập bằng cách nào, đơn giản và tiện lợi nhất thì bạn chọn <b>Use Instant Sign-In</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-16.jpg">
            <p><strong>Bước 17:</strong> Chọn <b>Màu</b> cho giao diện tài khoản Xbox. Sau đó chọn <b>Next</b>.</p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-17.jpg">
            <p><strong>Bước 18:</strong> Microsoft sẽ hỏi bạn có muốn <b>Đăng ký tài khoản Xbox Game Pass Ultimate</b> hay không. </p>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-18.jpg">
            <p><b>Xbox Game Pass</b> là sản phẩm dịch vụ thu phí hàng tháng của Microsoft dành cho người chơi Xbox, để người chơi có thể truy xuất vào thư viện game bản quyền (khoảng hơn 100 tựa game AAA chất lượng cao) và tải về chơi mà không cần phải tốn thêm chi phí khác miễn còn trong hạn sử dụng của gói dịch vụ này.</p>
            <p>Xbox Game Pass gói Ultimate sẽ có giá là 1$ cho tháng đầu tiên và 14,99$ mỗi tháng kế tiếp. Những lợi ích tiêu biểu của gói Ultimate đặc biệt hơn hẳn các gói PC, console như: </p>
            <ul>
                <li>Truy cập vào dịch vụ Game Pass và hưởng các ưu đãi thành viên.</li>
                <li>Chơi được trên PC, Console và điện thoại.</li>
                <li>Bao gồm cả gói Xbox Live Gold và các game hấp dẫn trong gói dịch vụ EA Play bao gồm nhiều tựa game như FIFA, The Sims, Battlefield... </li>
                <li>Những tựa game siêu hot vừa phát hành cũng sẽ được đưa ngay vào dịch vụ Xbox Game Pass để bạn trải nghiệm ngay.</li>
            </ul>
            <img alt="Hướng dẫn tạo tài khoản Xbox" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-xbox/huong-dan-tao-tai-khoan-xbox-19.jpg">
            <p>Nếu bạn có hứng thú và muốn đăng ký thì chọn <b>Join Now</b>. Bạn tìm kiếm một gói Xbox Game Pass rẻ hơn Ultimate thì chọn <b>Other Plans</b> (Hiện có 3 gói Xbox Game Pass là: Ultimate, PC và Console). Bạn có mã giảm giá để mua gói Ultimate thì chọn <b>Use A Code</b> hay nếu không có hứng thú hoặc chưa có ý định mua thời điểm này thì bạn chọn <b>No Thanks</b>.</p>

        </div>
    </div>
</div>
<style>
    .row-page h4 {
        text-align: center;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>