
@{
    ViewBag.Title = "Tuto7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 30px; margin-bottom: 25px">Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục</h2>
    <div class="post-details">
        <div class="post-content">
            <p>Xin chào các bạn, trong bài viết hôm nay <b>Game Store GOD xin chia sẻ các lỗi thường gặp trên Nintendo Switch và cách xử lý </b>nhằm giúp các bạn có thể khắc phục cũng như biết nguyên nhân gây ra các lỗi trên khi sử dụng.</p>
            <p id="1"></p><h4>1. MÁY NINTENDO SWITCH NHANH NÓNG, TỤT PIN, KHÔNG SẠC ĐƯỢC JOY-CON </h4>

            <p>Bạn đã mua và chơi <a href="/may-nintendo-switch"><b>Nintendo Switch</b></a> trong một khoảng thời gian dài nhưng bỗng nhiên gần đây máy Switch nhanh nóng, tụt pin quá nhanh dù nhu cầu sử dụng không nhiều và sạc Joy-Con chậm thậm chí là không ăn nguồn. </p>

            <p><b>Lý do:</b> Vì một số máy Switch xài thời gian lâu (từ 6 tháng trở lên) dễ gặp trường hợp vị trí thông gió bị bụi lắp đầy, điều kiện tản nhiệt không có nên buộc quạt phải chạy hết công suất khiến máy nóng nhanh hơn, tiêu hao nhiều năng lượng hơn mức bình thường. Và khi chạy liên tục trong thời gian dài thì quạt cũng nhanh hư và ngừng chạy vì quá sức dẫn đến nhiệt độ máy quá tải buộc ngưng sạc các thiết bị phụ như Joy con để giảm tải nhiệt lượng. </p>

            <iframe width="700" height="394" src="https://www.youtube.com/embed/NzwZuGQA8b4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <center><strong><em>Xem thêm nhiều video đặc sắc hơn tại <a target="_blank" href="https://www.youtube.com/user/haloshop82?sub_confirmation=1">HALO Youtube Channel</a></em></strong></center>


            <p><b>Cách khắc phục:</b> Khi gặp tình trạng này thì bạn buộc phải thay quạt tản nhiệt mới và thay cả keo tản nhiệt. Việc thay quạt và keo cũng không quá khó nên bạn có thể tự làm tại nhà, tuy nhiên nếu bạn không đủ tự tin thì có thể mang đến HALO để được thay và bảo trì từ A-Z. </p>

            <p><b>Cách hạn chế:</b> Để tránh tình trạng trên thì bạn nên vệ sinh thường xuyên cho máy Switch của mình, khoảng 1-2 tháng thì vệ sinh một lần giúp việc tản nhiệt và vận hành máy tốt hơn. </p>

            <p id="2"></p><h4>2. MÁY KHÔNG NHẬN BĂNG GAME</h4>

            <p>Vừa hôm qua còn chơi được game mà nay máy Switch lại không nhận băng game vẫn luôn là tình trạng hoang mang nhiều người dùng thường gặp, dù bạn đã lắp đặt nhiều lần nhưng băng game vẫn không hiển thị trên màn hình chính để chơi và thậm chí còn không có tín hiệu gì trên Switch. </p>

            <img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-2.jpg">

            <p><b>Cách khắc phục: </b></p>
            <ul>
                <li><b>Bước 1:</b> Bạn hãy tắt nguồn máy rồi tiến hành kiểm tra khe cắm băng game và loại bỏ cẩn thận bất kỳ vật thể lạ nào trong khe cắm. Và tất nhiên là đừng thổi vào khe cắm vì sẽ khiến cho hạt bụi lọt sâu vào máy Switch hơn. </li>
                <li>Bước 2: Kiểm tra lại chân cắm của băng game xem có bị trầy xướt, bám bụi hay bị dơ bẩn ở đâu đó không trước khi cắm vào lại lần nữa. </li>
                <li>Bước 3: Nếu đã thực hiện cả 2 bước trên mà máy vẫn không nhận băng game thì có thể máy đã bị hư phần mềm ở đâu đó, khi ấy bạn có thể liên lạc đến HALO để sửa chữa nhanh nhất. </li>
            </ul>

            <p id="3"></p><h4>3. Trôi Analog</h4>
            <p>Một lỗi cũng “khá” phổ biến và gây ức chế nhất là trôi analog, lỗi này khiến cho nhân vật trong game của bạn tự di chuyển dù bạn chưa bấm gì cả (trôi analog trái) hoặc camera tự xoay (trôi analog phải). </p>
            <p><b>Lý do:</b> Nguyên nhân gây ra lỗi analog trên Nintendo Switch là do thiết kế bên trong khá mỏng manh, cộng thêm tác động chơi game nặng và hành vi sử dụng từ người dùng.  </p>
            <img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-3.jpg">

            <p><b>Cách khắc phục:</b> </p>

            <li>
                <b>Bước 1:</b> Vào System Setting (Cài đặt hệ thống). <br>
            </li><li><b>Bước 2:</b> Truy cập Controllers and Sensors (Bộ điều khiển và cảm biến). </li>
            <li><b>Bước 3:</b> Chọn tiếp Calibrate Control Sticks (Hiệu chỉnh thanh điều khiển). </li>
            <li><b>Bước 4:</b> Nhấn chọn analog bị trôi của bạn (Tay cầm bên trái hoặc bên phải). </li>
            <li><b>Bước 5:</b> Lúc này màn hình màn hình sẽ hiển thị hiện tượng trôi analog và bạn cần điều chỉnh lại hướng. Bạn sẽ thấy tâm điểm (hình dấu +) của analog không nằm giữa mà nó nhích về phía nào đó thì bạn phải nhấn X để điều chỉnh tâm điểm trở về vị trí ở giữa trở lại. </li>

            <li><b>Bước 6:</b> Sau khi hoàn tất bạn trở lại giao diện một lần nữa để kiểm tra dấu + trên màn hình đã ở giữa hay chưa, nếu chưa bạn có thể làm lại 2-3 lần các bước trên cho tới khi thấy hoàn hảo nhất. </li>
            <img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-4.jpg">

            <p>Dù vậy đây cũng chỉ là cách làm tạm thời khắc phục, nếu sau khi làm xong mà cần analog vẫn trôi vô hướng, thậm chí không thể vào được giao diện menu chính thì có lẽ bạn nên ra HALO để thay Joy-Con mới. </p>

            <p>
                <b>Cách hạn chế:</b> <br>
                - Bạn cũng có thể đề phòng tình trạng này bằng cách nhẹ nhàng hơn khi sử dụng Joy-Con, đừng gặt cần analog trên <a href="/may-nintendo-switch">Switch</a> như gặt cần loạn xạ khi chơi máy game thùng. Với những tựa game như đá banh, song đấu, bắn súng,… và gây ức chế thì có thể mua thêm <a href="/index.php?route=product/search&amp;search=pro%20controller"><b>tay cầm rời Pro Controller của Switch</b></a> để giải trí thoả thích và gặt cần thoải mái hơn do cần analog đã được thiết kế chắc chắn và “xịn” hơn. <br>

                - Ngoài ra khi mang máy đi ra khỏi nhà bạn nhớ bỏ vào <a href="/accessories-nintendo-switch?page=2 "><b>túi đựng Nintendo Switch</b></a> riêng biệt để tránh các va chạm đáng tiếc dễ làm hư màn hình hay đè cấn làm trôi analog.
            </p>

            <p id="4"></p><h4>4. Joy-Con không thể tách riêng chơi 2 người </h4>

            <div class="div_50" style=" width: 50%; float: left; padding: 0 5px;">
                <p style="margin-top: 34px;">Lỗi Joy-Con không thể tách riêng để chơi 2 người đã từng khiến nhiều game thủ phải đau đầu vì nhiều lý do trời ơi đất hỡi. Để cả năm không chơi mà đến khi cần thì hì hụi cả buổi cài đặt mày mò thì tay cầm Joy-Con chỉ nhận một bên, tay còn lại thì vẫn không nhận. </p>

                <p><b>Lý do:</b> Là vì tay cầm Joy-con không nhận được đã bị hư nút SL - SR rồi, dù không sử dụng tính năng này thường xuyên hay thậm chí chưa từng đụng thì cũng có khả năng bị vì lỗi “hên xui” này. Cốt lõi về mặt kỹ thuật là do thiết kế Joy-con nút SL - SR mạch nối khá mỏng manh, nhất là Joy-Con bên phải chứa quá nhiều linh kiện bên trong như IR Camera, chip NFC,...(nhiều hơn Joy-Con bên trái) nên đường dẫn của mạch bị kẹp chặt hơn bên còn lại và cũng dễ hư hơn. </p>

                <p><b>Cách khắc phục:</b> Như đã nói ở trên là sai sót từ nhà sản xuất thì bạn không thể làm gì khác hơn là phải thay mới khi nó hỏng rồi. Chỉ có cách mang đến HALO thay mới mạch SL – SR thôi chứ không thể tự làm ở nhà được trừ khi bạn là thợ chuyên nghiệp. Còn nếu bạn chỉ là người chơi hệ đơn thì vấn đề trên cũng không gây ảnh hưởng quá nhiều đến trải nghiệm game nên bạn đừng quá lo lắng. </p>
            </div>

            <div class="div_50" style=" width: 50%; float: left; padding: 0 5px;">
                <br><img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-1.jpg" style="width: 495px;">
            </div>
            <div class="clear"></div>
            <p><b>Cách hạn chế:</b> Bạn có thể <a href="/accessories-nintendo-switch?page=3"><b>mua thêm cặp Joy-Con</b></a> hoặc 1 tay cầm rời của Switch để trải nghiệm tính năng chơi 2 người. Việc mua thêm tay cầm Pro Controller cũng tiện đôi đường nếu bạn là game thủ hard-core không muốn gặpn phiền toái trôi cần analog. </p>

            <p id="5"></p><h4>5. JOY-CON THƯỜNG XUYÊN BỊ TRƯỢT KHỎI THÂN MÁY</h4>

            <p><a href="/may-nintendo-switch">Máy Nintendo Switch</a> của bạn khi ở chế độ cầm tay thì cảm giác cầm Joy-Con rất lỏng lẻo, thường xuyên bị trượt khỏi thân máy dù bạn thao tác để tháo. </p>

            <p><b>Lý do:</b> Nguyên nhân dẫn đến lỗi này chính là lúc tháo Joy-Con ra khỏi thân máy, bạn không bấm nút phía sau mà chỉ kéo mạnh Joy-con ra khỏi Nintendo Switch hoặc không bấm sát mà dùng lực để kéo ra là chính. Sau thời gian dài, phần lẫy của Joy-Con bị mòn không còn cố định được với thân máy thậm chí có thể bị gãy đi. không còn giữ được với thân máy. </p>

            <p><b>Cách khắc phục:</b> Cách duy nhất là bạn buộc phải thay lẫy Joy-Con mới tại HALO thì tình trạng sẽ trở về như cũ. </p>

            <p><b>Cách hạn chế:</b> Để tránh lỗi này thì bạn phải cẩn thận hơn trong việc tháo và lắp Joy-Con. Mỗi lần tháo bạn nên bấm nút sát vào rồi hãy tháo ra. </p>
            <p id="6"></p><h4>6. MÁY SWITCH BỊ CHAI PIN, HƯ PIN</h4>

            <p><b>Lý do:</b> Xài cạn pin mới sạc, sạc gần đầy thì rút ra chơi hoặc để pin trong máy thời gian dài mà không chơi. </p>
            <p><b>Cách khắc phục:</b> Khi gặp tình trạng pin chai nặng, pin bị phù và hư pin thì giải pháp duy nhất là phải bỏ pin đi và thay pin mới tại HALO. </p>
            <p>
                <b>Cách hạn chế: </b> <br>
                -	Bạn có thể vừa sạc vừa chơi trên Nintendo Switch nhưng đừng để máy cạn sạch pin đến sập nguồn rồi mới đi sạc.  <br>
                -	Nếu không có thể chơi trong thời gian dài (bận ôn thi, chạy deadline,..) thì bạn nên tháo pin ra khỏi máy và cất giữ nơi mát mẻ trong nhà (tránh tháo pin khi đang đầy, hoặc khi cạn hay để ở những nơi nóng ẩm). Vì nếu để pin trong máy thời gian dài mà không sử dụng có thể dẫn tới hư pin, phù pin hay thậm chí là hư máy.<br>
                -	Sử dụng củ sạc chính hãng để có dòng điện ổn định. <a href="/nintendo-switch-ac-adapter"><b>Mua sạc chính hãng Nintendo tại đây</b></a><b>.</b>
            </p>

            <p id="7"></p><h4>7. TREO MÀN HÌNH</h4>
            <p>Nếu đang chơi game mà gặp trường hợp máy bị đơ (treo màn hình) và không thể điều khiển bằng phím bấm hoặc cảm ứng. </p>

            <p><b>Cách khắc phục: </b></p>
            <ul>
                <li>
                    <b>Bước 1:</b> Nhấn nút Home trên tay cầm. <br>
                    Lúc này Switch sẽ vào menu Home để bạn có thể thoát hoàn toàn game đó và khởi động lại. Nếu cách này vẫn chưa được thì thử bước 2.
                </li>
                <li>
                    <b>Bước 2:</b> Gắn Nintendo Switch bị đơ vào dock<br>
                    Khi chơi game, nếu máy gặp vấn đề và không thể truy cập vào menu hay thao tác gì được thì bạn hãy thử gắn <a href="/may-nintendo-switch">Switch</a>trở lại dock. Thao tác này giúp máy chuyển đổi giữa hai chế độ. Nhờ vậy mà bạn có thể thao tác và tiếp tục chơi game bình thường mà không cần phải làm gì thêm. Nếu chưa được hãy thử bước 3.
                </li>
                <li>
                    <b>Bước 3:</b> Khởi động lại Nintendo. <br>
                    Hãy nhấn giữ nút nguồn từ 30s đến khi máy tắt hẳn nguồn. Chờ cho máy nghỉ tầm 1 phút, bạn nhấn khởi động lại máy và tiếp tục sử dụng bình thường.
                </li>
            </ul>

            <p id="8"></p><h4>8. MÁY SWITCH MỞ KHÔNG LÊN </h4>
            <p><b>Cách khắc phục:</b> </p>
            <ul>
                <li><b>Bước 1:</b> Tiến hành sạc pin cho máy và đợi tầm 20 phút nếu máy vẫn không lên thì làm bước tiếp theo. </li>
                <li><b>Bước 2:</b> Nhấn nút nguồn và giữ trong 30 giây rồi tiến hành mở máy lại. Nếu máy hiện lên màn hình khởi động rồi tắt &amp; báo hiệu pin yếu thì lúc này bạn chỉ cần cắm sạc và đợi pin đầy để chơi. </li>
            </ul>

            <p>Nếu bạn đã thử các bước trên mà máy Nintendo Switch vẫn không mở lên thì chia buồn với bạn là máy bạn cần phải "nhập viện HALO" để kiểm tra tình trạng lỗi phần cứng và sửa chữa. Thông thường thì các máy <a href="/may-nintendo-switch">Nintendo Switch</a> ver 1 sản xuất trước tháng 8 - 2018 rất dễ bị lỗi này! </p>


            <p id="9"></p><h4>9. NINTENDO ESHOP KHÔNG KHẢ DỤNG Ở QUỐC GIA BẠN (2813-0998) </h4>
            <p>Lỗi này xảy ra vì bạn đang ở một quốc gia hiện không được <a href="/nintendo-eshop-la-gi-huong-dan-mua-game-tai-game-tren-eshop">Nintendo eShop</a> hỗ trợ ví dụ như Việt Nam, Philipin, Malay,… Để khắc phục lỗi này, bạn chỉ cần chỉnh lại phần quốc gia của máy thành Mỹ, Anh, Nhật Bản hoặc các quốc gia hỗ trợ eShop. </p>
            <img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-6.jpg">

            <p><b>Cách khắc phục:</b> </p>
            <ul>
                <li><b>Bước 1:</b> Vào System Setting (Cài đặt hệ thống). Chọn Region (Phân vùng). </li>
                <li><b>Bước 2:</b> Đăng nhập vào eShop và chọn quốc gia Mỹ. </li>
                <li><b>Bước 3:</b> Chỉnh lại phần quốc gia trong tài khoản của bạn tương ứng với máy Switch bằng cách đăng nhập vào website Nintendo tại <a href="https://accounts.nintendo.com/">đây. </a></li>
                <li><b>Bước 4:</b> Chọn Edit (Chỉnh sửa). Và chỉnh phần Country/Region of Residence (Phân vùng) tương ứng như bạn đã chọn trên máy Switch ở trên xong chọn Save. </li>
            </ul>
            <p><a href="meo-mua-game-nintendo-switch-gia-re-tren-nintendo-eshop"><b>Xem ngay mẹo mua game Nintendo Switch giá rẻ trên Nintendo eShop</b></a></p>

            <p id="10"></p><h4>10. HỆ THỐNG KHÔNG THỂ KẾT NỐI VỚI MÁY CHỦ (2137-8056) </h4>
            <p>Một số người dùng gặp sự cố không thể kết nối với máy chủ có mã lỗi là 2137-8056 khi cố gắng tải một trò chơi hoặc truy cập cửa hàng Nintendo Switch. </p>
            <p><b>Cách khắc phục:</b> </p>
            <ul>
                <li><b>Bước 1:</b> Bạn cần kiểm tra máy chủ Nintendo có đang bảo trì hay không bằng cách truy cập <a href="https://www.nintendo.com/consumer/assets/region_select.jsp?d=networkstatus&amp;f=1"> link này</a>. Sau đó chọn phân vùng và kiểm tra. Nếu không có thông báo về việc máy chủ bảo trì thì bạn chuyển sang bước tiếp theo. </li>
                <li><b>Bước 2:</b> Kiểm tra máy Switch đã cập nhật phần mềm mới nhất chưa bằng cách truy cập System Settings -&gt; System -&gt; System Update. Nếu máy của bạn đang ở bản cập nhật mới nhất mà bạn vẫn chưa giải quyết lỗi trên làm tiếp bước 3. </li>
                <li><b>Bước 3:</b> Tiến hành reset máy Switch bằng cách nhấn nút nguồn và giữ trong 30 giây rồi tiến hành mở máy lại. </li>
            </ul>

            <p id="11"></p><h4>11. KẾT NỐI THẤT BẠI, ĐỊA CHỈ DNS KHÔNG ỔN ĐỊNH (2110-3127) </h4>
            <p>Nếu bạn gặp báo lỗi “Kiểm tra kết nối thất bại, địa chỉ DNS không ổn định, xin hãy thử lại sau.” Có thể vấn đề là do địa chỉ DNS của bạn, chúng ta có thể giải quyết vấn đề bằng cách chuyển đổi địa chỉ DNS của Google. </p>
            <img alt="Tổng hợp những lỗi thường gặp trên Nintendo Switch và cách khắc phục" src="https://game.haloshop.vn/image/catalog/blogs/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc/tong-hop-nhung-loi-thuong-gap-tren-nintendo-switch-va-cach-khac-phuc-7.jpg">

            <p><b>Cách khắc phục:</b> </p>
            <ul>
                <li><b>Bước 1:</b> Truy cập Network Settings của kết nối mạng bạn đang muốn sử dụng &gt; DNS Settings. </li>
                <li><b>Bước 2:</b> Ở dưới dòng Primary DNS, bạn nhấn và giữ nút B để xoá và chỉnh sửa thông số Primary DNS mặc định thành đó thêm 8.8.8.8. Với Secondary DNS, bạn cũng tiến hành tương tự và chỉnh sửa thành 8.8.4.4. </li>
            </ul>

            <p id="12"></p><h4>12. LỖI MICRO SD (2005-0003/2002-2085) </h4>
            <p>Nếu bạn nhận được thông báo mã lỗi về Micro SD khi đang cố gắng tải về một phần mềm cập nhật hoặc một trò chơi mới trên Nintendo Switch. </p>

            <p><b>Cách khắc phục:</b> </p>
            <ul>
                <li><b>Bước 1:</b> Kiểm tra thẻ nhớ Micro SD của bạn xem còn dung lượng trống hay không, nếu không bạn buộc phải xoá bớt dữ liệu không cần thiết. </li>

                <li><b>Bước 2:</b> Nếu thẻ vẫn còn dung lượng mà bạn không thể ghi dữ liệu thì có khả năng thẻ Micro SD đã bị hư hỏng, cách giải quyết duy nhất là format lại thẻ. Nếu vẫn không được thì bạn nên mua chiếc thẻ mới rồi đấy.</li>
            </ul>
        </div>
    </div>
</div>
<style>
    .row-page h2 {
        text-align: center;
    }

    .row-page h3 {
        text-align: center;
    }

    .row-page h4 {
        text-align: center;
    }

    .row-page iframe {
        display: block;
        margin: 15px auto !important;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>
