
@{
    ViewBag.Title = "Tuto6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 30px; margin-bottom: 25px">Hướng dẫn tạo tài khoản Nintendo Switch / Switch Lite nhanh chóng</h2>
    <div class="post-content" wfd-id="364">
        <p>Sau khi hoàn thành những bước thiết lập đầu tiên trên <a href="#">Nintendo Switch</a>, việc cần làm tiếp theo đó là truy cập Nintendo eShop để mua trò chơi đầu tiên của bạn. Nhưng để truy cập được vào Nintendo eShop để mua game bạn cần có một tài khoản Nintendo. Nintendo Account là một tài khoản bắt buộc khi sử dụng Nintendo Switch được dùng để mua game Digital và các bản DLC cũng như để tải và chơi các game demo. Vậy làm thế nào để tạo tài khoản Nintendo Switch? Hãy cùng HALO tìm hiểu trong bài viết hôm nay nhé.</p>
        <h3>Tạo New User trên Nintendo Switch</h3>

        <p><strong>Bước 1:</strong> Vào Setting &gt; chọn Add New User.</p>
        <p><strong>Bước 2:</strong> Chọn ảnh đại diện.</p>
        <p><strong>Bước 3:</strong> Nhập tên của bạn.</p>
        <p>Vậy là bạn đã tạo xong User cho máy.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-1.jpg">

        <h3>Tạo Nintendo Account</h3>
        <p><strong>Bước 1:</strong> Kết nối Wi-Fi trên Nintendo Switch.</p>
        <p><strong>Bước 2:</strong> Trên máy Switch, bạn chọn vào eShop ở Home Screen.</p>
        <p><strong>Bước 3:</strong> Chọn User mà bạn muốn dùng / liên kết tới Nintendo Account trên eShop.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-2.jpg">
        <p><strong>Bước 4:</strong> Nhấn chọn "Link a Nintendo Account".</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-3.jpg">
        <p><strong>Bước 5:</strong> Chọn "Sign in using an e-mail address or sign-in ID" nếu bạn đã có tài khoản. Hoặc nếu chưa có thì chọn "Creat a new account".</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-4.jpg">
        <p><strong>Bước 6:</strong> Chọn "Send account-creation instructuons via e-mail" sau đó điền email của bạn vào rồi bấm "Send e-mail".</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-5.jpg">
        <p><strong>Bước 7:</strong> Sử dụng điện thoại, máy tính bảng hoặc máy tính của bạn truy cập vào tài khoản Mail và di chuyển vào Hộp thư đến. Mở email từ nhà Nintendo và truy cập đường link hãng gửi kèm theo trong mail để tạo Nintendo Account. Lúc này đây chuyển qua web của Nintendo.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-6.jpg">
        <p><strong>Bước 8:</strong> Chọn "Add an account for myself" nếu bạn tạo tài khoản cho bạn. "An account for a child" nếu tạo tài khoản cho em/con/cháu của bạn để giới hạn quyền sử dụng.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-7.jpg">
        <p><strong>Bước 9:</strong>  Điền các thông tin cá nhân của bạn vào cũng như password của account mà bạn muốn đặt. </p>

        <p>Đối với ngày tháng năm sinh bạn nên điền ngày tháng thật của bản thân sau này chẳng may có bị quên mật khẩu hoặc bị mất tài khoản có thể dùng nó để lấy lại. Nếu chưa đủ 18 tuổi thì bạn có thể sử dụng năm khác, hiện tại chỉ cần chọn năm từ 2002 trở lên thì bạn đã có thể trải nghiệm không giới hạn các thể loại game.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-8.jpg">
        <p>Lưu ý về phần "Country" lúc điền nên chọn Mỹ (dành cho ai muốn account thành phân vùng US), Anh (phân vùng EU - Châu Âu) hoặc Japan (cho phân vùng Nhật). Một số bạn thường chọn Viet Nam khi vào eShop sẽ bị báo lỗi "Nintendo eShop is not Currently available in your country" vì hiện tại Nintendo eShop vẫn chưa hỗ trợ tại Việt Nam.</p>
        <p><strong>Bước 10:</strong> Tích dấu vào ô đồng ý thỏa thuận sử dụng của Nintendo và bấm Submit.</p>
        <p><strong>Bước 11:</strong> Nhấn chọn Display confirmation code, ghi lại 5 số confirmation code mà Nintendo cung cấp.</p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-9.jpg">
        <p><strong>Bước 12:</strong> Trở lại trên máy Switch, bạn điền 5 số đó vào khung "5-digit confirmation code" sau đó bấm OK. Sau đó nhấn chọn Link rồi nhấn tiếp OK. </p>
        <img alt="Hướng dẫn tạo tài khoản Nintendo Switch nhanh chóng" src="https://game.haloshop.vn/image/catalog/blogs/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong/huong-dan-tao-tai-khoan-nintendo-switch-nhanh-chong-10.jpg">
        <p>Vậy là bạn đã tạo xong tài khoản Nintendo và liên kết tài khoản này vào user ở trên máy Switch rồi. Tiếp theo là tận hưởng những ưu đãi hấp dẫn cũng như tải một số trò chơi miễn phí trên Switch thôi nào, chúc các bạn có những giây phút vui vẻ. </p>
    </div>
</div>
<style>
    .row-page h2 {
        text-align: center;
    }

    .row-page h3 {
        text-align: center;
    }

    .row-page iframe {
        display: block;
        margin: 15px auto !important;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }
</style>