
@{
    ViewBag.Title = "Tuto8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page">
    <h2 class="title page-title" style="text-align: center; margin-top: 30px; margin-bottom: 25px">Tất tần tật mọi thông tin về Xbox Series X/S mà bạn cần biết</h2>
    <div class="post-details">
        <div class="post-content">
            <h3>CÁC HƯỚNG DẪN SỬ DỤNG XBOX CHO NGƯỜI MỚI</h3>

            <p><span class="drop-cap">K</span> hông như mọi khi, năm năm Microsoft lại thông báo sẽ có 2 hệ máy console được ra mắt: Xbox Series S và Xbox Series X. Hãng cũng xác nhận công bố cả hình ảnh và giá bán của Xbox Series S, là chiếc Xbox nhỏ nhất từ trước đến nay, sản phẩm này sẽ chỉ có giá là 299 USD, trong khi vẫn sở hữu cấu hình next-gen, mặc dù sẽ thấp hơn so với Xbox Series X một chút. Và chiếc console cao cấp hơn - Xbox Series X, là con bài cạnh tranh trực tiếp với PlayStation 5 sẽ có giá là 499 USD.</p>

            <p>Sự kiện ra mắt chính thức 2 siêu phẩm console trên sẽ diễn ra vào ngày 10 tháng 11, và người dùng có thể đặt hàng trước từ ngày 22 tháng 9.  dưới đây là những thông tin về Xbox Series X/S mà bạn cần biết trước khi quyết định mua cho mình console nào trong năm nay! </p>
            <iframe width="700" height="394" src="https://www.youtube.com/embed/eZNYuyltL_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <center><strong><em>Xem thêm nhiều video đặc sắc hơn tại <a target="_blank" href="https://www.youtube.com/user/haloshop82?sub_confirmation=1">HALO Youtube Channel</a></em></strong></center><br>
            <center><h3 style="   background: -webkit-linear-gradient(45deg, #061700, #52c234 95%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Điểm khác biệt</h3></center>
            <h4>Về thiết kế và giá cả</h4>
            <p>Hai chiếc Xbox có mức giá khác nhau, sẽ hướng tới đối tượng người dùng khác nhau. Theo đó Xbox Series S sẽ có thiết kế hình chữ nhật màu trắng giống Xbox One S với một tấm thoát nhiệt hình tròn lớn ở mặt trước (tương tự một chiếc loa), nó mỏng và nhỏ hơn khá nhiều so với Xbox Series X, chỉ bằng 1/3 so với đàn anh. Microsoft cũng tự tin tuyên bố rằng Series S là "Xbox nhỏ nhất từ ​​trước đến nay". Kích thước nhỏ gọn, giá thành thấp nên Series S sẽ không có ổ đĩa như các hệ máy console khác và sẽ đi kèm với SSD NVME 512GB tùy chỉnh thay vì ổ cứng 1TB, nhưng bạn có thể mở rộng lên đến 1TB thông qua thẻ mở rộng. </p>

            <img alt="So sánh Xbox Series X và Xbox Series S" src="https://game.haloshop.vn/image/catalog/blogs/xbox-series-x-s/xbox-series-x-1.jpg" style="width:100%">
            <p>Trong khi đó, Xbox Sereis X, phiên bản trái ngược về màu sắc so với Series S, với thiết kế màu đen cao cấp hơn, có kích thước khá là to và nếu đặt theo hướng dọc thì trông khá là giống một chiếc case PC. Xbox Series X được thiết kế để chạy các trò chơi một cách mượt mà nhưng yên lặng nhất có thể với vẻ ngoài không nổi bật hơn thiết bị hiển thị như TV và màn hình, như vậy, bạn sẽ không bao giờ bị mất tập trung khỏi những gì đang diễn ra trên màn hình. Microsoft nhận định Xbox Series X được thiết kế để tối ưu hóa hiệu năng của một chiếc console, sẽ không quá hầm hố, hoành tráng bởi khía cạnh duy nhất mà hãng muốn nhấn mạnh trên Xbox Series X là sức mạnh khủng khiếp của chiếc máy này.</p>
            <h4>Về cấu hình </h4>
            <p>Về thông số, cấu hình Xbox Series X và Xbox Series S khá giống nhau, cả hai đều dùng vi xử lý AMD Zen 2 8-core (8 nhân), nhưng Series X có clock speed nhanh hơn 3.8GHz, trong khi Series S chỉ đạt 3.6GHz. Điều này đồng nghĩa CPU của Series X xử lý nhiều bit mỗi giây hơn, nhưng khác biệt này không đáng kể và có lẽ mọi người cũng không nhận ra khi chơi game. Ngoài ra SSD trên Xbox Series S sẽ chỉ là 512GB thấp hơn phân nửa so với người anh sinh đôi Xbox Series X, nhưng bạn cũng có thể nâng cấp thêm từ bộ nhớ ngoài, hỗ trợ mở rộng lên đến 1TB.</p>
            <table class="tbl-info" style="display: block;margin-left: 192px;">
                <thead>
                    <tr>
                        <th width="24%"><strong></strong></th>
                        <th><strong>Xbox Series X</strong></th>
                        <th><strong>Xbox Series S</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Giá bán</td>
                        <td> $499</td>
                        <td> $299</td>
                    </tr>
                    <tr>
                        <td>CPU</td>
                        <td> 8-Core AMD Zen 2 CPU  3.8GHz <br> 3.6GHz w/ SMT Enable</td>
                        <td> 8-Core AMD Zen 2 CPU  3.6GHz <br> 3.4GHz w/ SMT Enable</td>
                    </tr>
                    <tr>
                        <td>System on a Chip (SoC)</td>
                        <td> Custom 7nm Enhanced SoC</td>
                        <td> Custom 7nm Enhanced SoC</td>
                    </tr>
                    <tr>
                        <td>GPU</td>
                        <td> AMD RDNA 2GPU 52 CUs  1.825GHz</td>
                        <td> AMD RDNA 2GPU 20 CUs  1.565GHz</td>
                    </tr>
                    <tr>
                        <td>GPU Power</td>
                        <td> 12.15 TFLOPS</td>
                        <td> 4 TFLOPS</td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td> 16GB GDDR6</td>
                        <td> 10GB GDDR6</td>
                    </tr>
                    <tr>
                        <td>Performance Target</td>
                        <td>4K  60 FPS, Up to 120 FPS</td>
                        <td>1440p  60 FPS, Up to 120 FPS</td>
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td> 1TB PCle Gen 4 NVME SSD</td>
                        <td> 512GB PCle Gen 4 NVME SSD</td>
                    </tr>
                    <tr>
                        <td>Dics Drive</td>
                        <td> 4K UHD Blu-ray</td>
                        <td> Digital Only</td>
                    </tr>
                </tbody>
            </table>

            <h4 style="margin-top: 24px;">Về đồ họa</h4>
            <p>Có thể nói rằng về cấu hình cả 2 thế hệ console này không có gì quá khác biệt mà điều khác biệt lớn nhất là về khả năng hiển thị đồ họa. Nếu chỉ so sánh mặt số liệu thì cũng thấy rằng cả 2 đều cùng sử dụng chip đồ họa AMD RDNA 2 nhưng Series X có 52 CUs đạt 1.825 GHz, còn Series S chỉ có 20 CUs đạt 1.56 GHzAMD.</p>
            <p>Ngoài ra Microsoft đánh giá bộ xử lý tùy chỉnh Xbox Series X của mình ở mức 12 TFLOPS, nghĩa là console có khả năng thực hiện 12 nghìn tỷ phép tính dấu chấm động mỗi giây.  Dễ so sánh hơn thì TFLOPS của Xbox Series X mạnh gấp 3 so với Xbox Series S và mạnh gấp đôi so với con chip được dùng trong Xbox One X, chiếc console hàng đầu của Microsoft hiện tại. TFLOPS càng cao thì khả năng tính toán càng được cải thiện, hay nói cách khác đối với các thiết bị chơi game thì điểm TFLOPS đóng vai trò rất quan trọng, đặc biệt là khi series Xbox mới sẽ sử dụng các công nghệ hiện đại như: DirectX Ray Tracing, Variate Rate Shading (VRS)...để làm cho các cảnh trong game video trở nên chân thực hơn.</p>
            <p>Điều khiến cho giá cả của 2 hệ máy console Xbox năm nay có sự chênh lệch lớn một phần cũng do độ phân giải mà từng thiết bị sẽ hỗ trợ. Xbox Series X có thể chạy độ phân giải 4K và có thể chạy mượt ở độ phân giải 8K trong tương lai, còn Series S thì không, Series S sẽ chỉ hỗ trợ người chơi ở độ phân giải 1440p tốc độ 120 fps. Tất nhiên, những khác biệt này hoàn toàn dễ hiểu do Microsoft nhắm Series S đến khách hàng có túi tiền eo hẹp và không sở hữu TV hay màn hình 4K.</p>
            <h4>Về hình thức chơi game</h4>
            <p>Một sự khác biệt lớn giữa cả hai đó là Series X có ổ đĩa Blu-ray 4K Ultra HD, nhưng Series S thì lại không có, tức là chỉ ở dạng kỹ thuật số, vì vậy bạn sẽ phải tải xuống các trò chơi của mình thay vì mua đĩa game như thường lệ và việc mua game online sẽ giúp tiết kiệm khá nhiều tiền và công sức bởi bạn có thể mua và chơi bất cứ khi nào bạn muốn. </p>
            <center><h3 style="   background: -webkit-linear-gradient(45deg, #061700, #52c234 95%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Điểm giống nhau</h3></center>

            <img alt="So sánh Xbox Series X và Xbox Series S" src="https://game.haloshop.vn/image/catalog/blogs/xbox-series-x-s/xbox-series-x-2.jpg">
            <p>Cả hai hệ máy này đều sở hữu cấu hình next-gen và cũng sẽ được hỗ trợ nhiều công nghệ tiên tiến như nhau, có thể kể đến là Spatial Sound (bao gồm Dolby Atmos), Dolby Vision, Ray Tracing...nên trải nghiệm trên cả 2 phiên bản sẽ không khác nhau là bao nếu bỏ qua vấn đề hồ họa hiển thị. Microsoft cũng nhấn mạnh rằng bất kỳ tựa game nào chạy được trên Xbox Series X cũng sẽ chạy được trên Xbox Series S và ngược lại, nên game thủ mua bản Xbox Series S không cần phải lo ngại không chơi được game này hay game kia. 2 thiết bị mới này cũng sẽ hoàn toàn tương thích ngược với tất cả game trên ba hệ máy cũ là Xbox One, Xbox 360 và Xbox.</p>
            <p>Cũng như PS5, Xbox Series S và Series X cũng chọn dùng ổ cứng SSD được thiết kế riêng theo kiến trúc Velocity, một công nghệ mới mà Microsoft thiết kế để game thủ có thể treo nhiều game cùng lúc trên máy và quay lại với trò chơi đó bất kỳ lúc nào. </p>
            <center><h3 style="   background: -webkit-linear-gradient(45deg, #061700, #52c234 95%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Phiên bản nào dành cho bạn</h3></center>
            <p>Đây là lần đầu tiên Microsoft ra mắt hai chiếc máy Xbox cùng một lúc, một chiến lược mạo hiểm cạnh tranh với gã khổng lồ Sony từ Nhật Bản. Mục đích của Microsoft là thu hút những game thủ có hứng thú với game của Microsoft nhưng chưa sở hữu Xbox hoặc chỉ muốn chơi trên PC cho nên có thể đó là lí do mà phiên bản giá rẻ Xbox Series S ra đời.</p>
            <p>Xbox Series S với mức giá chỉ 299 USD sẽ rất hấp dẫn đối với những người dùng có mức tài chính hạn hẹp và không yêu cầu sức mạnh đồ họa quá cao như độ phân giải 4K. Nếu tivi hay màn hình của bạn chỉ hỗ trợ độ phân giải Full HD và bạn không muốn chi quá nhiều tiền cho việc mua console thì Xbox Series S sẽ là lựa chọn hợp lý.  </p>
            <p>Nếu bạn là người yêu cầu về đồ họa cao khi trải nghiệm game và đã có sẵn TV hay màn hình 4K, thậm chí bạn muốn trải nghiệm ở độ phân giải cao nhất 8K và có điều kiện thì Xbox Series X sẽ là sản phẩm phù hợp với bạn. Xbox Series S đã có hiệu năng đỉnh cao sáng ngang những cỗ PC mạnh thì Series X được xem là một con quái vật với cấu hình cực mạnh, ngang với những cỗ PC trâu bò, đắt tiền hơn. </p>
            <img alt="So sánh Xbox Series X và Xbox Series S" src="https://game.haloshop.vn/image/catalog/blogs/xbox-series-x-s/xbox-series-x-3.jpg" style="width:70%">
        </div>
    </div>
</div>
<style>
    .row-page h3 {
        text-align: center;
    }

    .row-page iframe {
        display: block;
        margin: 15px auto !important;
    }

    .row-page img {
        display: block;
        margin: 15px auto !important;
    }

    .tbl-info thead tr th {
        background-color: #ffe000;
        color: #000;
        text-align: center;
    }

    .tbl-info tr td, .tbl-info tr th {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>