
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chào em !</h2>
<div class="index-back">
    <img src="~/Content/bg_admin.jpg" />
</div>
<style>
    .index-back img {
        position: absolute;
        width: 99.8%;
        height: 840%;
        top: 5%;
        margin-left: -18px;
    }
</style>

