
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- product -->
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <img class="product-img-primary" src="~/Content/images/product_13.png">
                <img class="product-img-list" src="~/Content/images/product_13.png">
                <img class="product-img-list" src="~/Content/images/product_15.jpg">
                <img class="product-img-list" src="~/Content/images/product_16.jpg">
                <img class="product-img-list" src="~/Content/images/product_17.jpg">
            </div>
            <div class="col-md-8">
                <div class="product-breadcrumb">
                    Trang chủ / Sản phẩm
                </div>
                <a href="#"><h4 class="product-info">Mũ Fullface YOHE 967 2 Kính 2019 chất chơi</h4></a>
                <div class="product-star">
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                </div>
                <p class="product-current">
                    1.200.000đ
                </p>
                <p class="product-description">
                    Mũ fullface Yohe 967 2 kính là dòng mũ mang phong cách Châu Âu mạnh mẽ. Chiếc mũ này nổi bật ở chất liệu vỏ mũ, chất liệu mặt kính mũ, kiểu dáng thời trang. Tạo nên một dòng mũ bảo hiểm Yohe đậm chất chơi.
                </p>
                <input class="cart__body-quantity-minus" type="button" value="-">
                <input class="cart__body-quantity-total" type="numbe" value="1">
                <input class="cart__body-quantity-plus" type="button" value="+">
                <button type="button" class="btn btn-kx">Cập nhật giỏ hàng</button>
                <div class="product__main-info-contact">
                    <div>
                        <a href="#" class="product__main-info-contact-fb">
                            <i class="fab fa-facebook-f"></i>
                            CHAT FACEBOOK
                        </a>
                    </div>
                    <div class="product__main-info-contact-phone-icon">
                        <i class="fas fa-phone-alt "></i>
                        <div class="product__main-info-contact-phone-title">
                            Gọi điện tư vấn
                        </div>
                        <div class="product__main-info-contact-phone-number">
                            ( 0352.860.701)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 product-tab">
                <div>
                    <a href="#" class="product-active">
                        Mô tả
                    </a>
                    <a href="#" class="product-tab-link">
                        Đánh giá
                    </a>
                </div>
            </div>
            <div class="col-md-12 product-content-wrap">
                <h4 class="product-content">
                    Mũ Fullface YOHE 967 2 Kính 2019 chất chơi
                </h4>
                <p class="text-content">
                    <span class="text-1">Mũ fullface Yohe 967 2 kính</span> là dòng mũ mang phong cách Châu Âu mạnh mẽ. Chiếc mũ này nổi bật ở chất liệu vỏ mũ, chất liệu mặt kính mũ, kiểu dáng thời trang. Tạo nên một dòng mũ bảo hiểm Yohe đậm chất chơi.
                </p>
                <p class="text-content">
                    <span class="text-1">Vỏ mũ bảo hiểm Yohe 967</span> được làm từ nhựa ABS nguyên sinh cao cấp nên độ an toàn và độ bền rất cao. Khả năng chịu lực, chịu được va đập mạnh, cứng cáp chống đâm xuyên và cực an toàn.Trên mặt của vỏ mũ mũ bảo hiểm Yohe 965 có lỗ thoáng khí. Bao gồm lỗ thông khí phía trước và lỗ thông khí phía sau.
                </p>
                <p class="text-content">
                    <span class="text-1">Không khí trong và ngoài sẽ được lưu thông</span> nhằm hạn chế mùi cũng như sự tích tụ vi khuẩn. Đây là một trong những điểm cộng cho thiết kế của dòng mũ bảo hiểm Yohe mới nhất này.Hơn nữa vỏ mũ bảo hiểm Yohe chính hãng được phủ lớp sơn mỏng bền chống bám bẩn. Vì vậy mà trông mũ lúc nào cũng như mới.
                </p>
                <p class="text-content">
                    <span class="text-1">Màu sắc của vỏ mũ bảo hiểm Yohe 965</span> cực kì đẹp. Dáng mũ trông rất thể thao, phong cách, đậm chất hầm hố Châu Âu. Khiến cho những dân chơi xe phải thích thú.
                </p>
                <p class="text-content">
                    <span class="text-1">Kính chắn</span> là một trong những điểm vô cùng quan trọng giúp tạo ra một tầm nhìn tốt khi lái xe. Và chiếc mũ mũ bảo hiểm Yohe 965 2 kính 2019 này đã làm được điều đó.Mũ chính hãng gồm 2 kính chắn. Một kính tối ở bên trong có tác dụng làm giảm cường độ sáng, giảm sự nguy hiểm khi đi đường.
                </p>
                <p class="text-content">
                    <span class="text-1">Và một kính trong suốt đạt chuẩn</span> ở bên ngoài giúp chắn bụi, chắn côn trùng bay vào mắt. Bảo vệ bạn một cách tốt đa khi di chuyển trên đường.Kính mũ yohe được làm bằng chất liệu PC cao cấp. Vì vậy mà nó rất là bền. Kính mũ bảo hiểm Yohe chính hãng chống trầy tốt, chống đọng sương. Khi đi mùa đông hay đi trời mưa sẽ không lo hơi thở làm đọng sương. Có thể thay thế sau thời gian dài sử dụng.
                </p>
                <h5 class="product-conten">
                    Đại lý, cộng tác viên online sản phẩm mũ Yohe
                </h5>
                <p class="text-content">
                    Nếu bạn đang tìm đại lý phân phối sản phẩm mũ bảo hiểm yohe chính hãng giá rẻ thì hãy đến với chúng tôi. Tại đây bạn sẽ được hỗ trợ mua hàng như sau :
                </p>
                <p class="text-content">
                    Miễn phí vận chuyển. <br>
                    Sản phẩm được bảo hành uy tín. <br>
                    Giá sản phẩm cạnh tranh và rẻ hơn thị trường. <br>
                    Cam kết nguồn gốc sản phẩm, đảm bảo chính hãng. <br>
                </p>
                <p class="text-content">
                    Với kinh nghiệm lâu năm trong nghề, <span class="text-1">Đồ Phượt 365</span> tự tin mang đến cho bạn sản phẩm chất lượng tốt nhất.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 tl-border">
        <div class="product__aside">
            <img class="product-img" src="~/Content/images/shipper.png">
            <p class="product__aside-link-heading">
                Giao hàng nhanh chóng
                <span class="text-2">
                    Chỉ trong vòng 24h
                </span>
            </p>
        </div>
        <div class="product__aside">
            <img class="product-img" src="~/Content/images/brand.png">
            <p class="product__aside-link-heading">
                Sản phẩm chính hãng
                <span class="text-2">
                    Sản phẩm nhập khẩu 100%
                </span>
            </p>
        </div>
        <div class="product__aside">
            <img class="product-img" src="~/Content/images/less.png">
            <p class="product__aside-link-heading">
                Mua hàng tiết kiệm
                <span class="text-2">
                    Rẻ hơn từ 10% đến 30%
                </span>
            </p>
        </div>
        <h5 class="product__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_1.png">
            <h6 class="productt__aside-link-heading">Mũ bảo hiểm fullface Yoyal QC201</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_10.png">
            <h6 class="product__aside-link-heading">Mũ bảo hiểm fullface Yoyal 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_3.png">
            <h6 class="product__aside-link-heading">Mũ bảo hiểm LS2 đẹp chính hãng</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_7.png">
            <h6 class="product__aside-link-heading">Mũ bảo hiểm mới nhất 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_4.png">
            <h6 class="product__aside-link-heading">Mũ bảo hiểm LS2 chất lượng, bền</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_6.png">
            <h6 class="product__aside-link-heading">Áo Khoác Nam dành cho người đi phượt</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_5.png">
            <h6 class="product__aside-link-heading">Găng tay leo núi cho mới nhất 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/images/product_12.png">
            <h6 class="product__aside-link-heading">Quần phượt cho Nam</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<!-- end product -->
<!-- product love -->
<div class="row">
    <div class="col-md-12 product__love-title">
        <h4 class="product__love-heading">
            Sản phẩm tương tự
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal 2020</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    1.490.000đ
                </span>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal 2020</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    1.490.000đ
                </span>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm LS2 chất lượng, bền</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    2.200.000đ
                </span>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal QC201</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    900.000đ
                </span>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm ROC QC 2020</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    1.590.000đ
                </span>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                </div>
                <h6 class="product__panel-heading">
                    <a href="#" class="product__panel-link">Mũ bảo hiểm fullface ROC màu trắng</a>
                </h6>
                <div class="product__panel-rate-wrap">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <span class="product__panel-price-current">
                    2.210.000đ
                </span>
            </div>
        </div>
    </div>
</div>

