
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- product -->
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <img class="product-img-primary" src="~/Content/images/hinh1.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct1.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct2.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct3.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct4.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct5.jpg">
                <img class="product-img-list" src="~/Content/ImageDetail/ct6.jpg">
            </div>
            <div class="col-md-8">
                <div class="product-breadcrumb">
                    Trang chủ / Sản phẩm
                </div>
                <a href="#"><h4 class="product-info">Nintendo Switch - Monster Hunter Rise Edition</h4></a>
                <div class="product-star">
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                    <i class="fas fa-star product__main-info-rate"></i>
                </div>
                <p class="product-current">
                    12,880,000₫
                </p>
                <p class="product-description">
                    New Nintendo Switch - Monster Hunter Rise Deluxe Edition là một trong những
                    mẫu máy Nintendo Switch đặc biệt kỷ niệm tựa game Monster Hunter Rise được
                    phát hành với những họa tiết được in lên mặt lưng máy, Joy-Con, và Dock theo
                    phong cách của game. Một phiên bản Switch rất đáng sở hữu nếu bạn là fan của
                    dòng game Monster Hunter.
                </p>
                <input class="cart__body-quantity-minus" type="button" value="-">
                <input class="cart__body-quantity-total" type="number" value="1">
                <input class="cart__body-quantity-plus" type="button" value="+">
                <button type="button" class="btn btn-kx">Cập nhật giỏ hàng</button>
                <div class="product__main-info-contact">
                    <div>
                        <a href="#" class="product__main-info-contact-fb">
                            <i class="fab fa-facebook-f"></i>
                            CHAT FACEBOOK
                        </a>
                    </div>
                    <div class="product__main-info-contact-phone-icon">
                        <i class="fas fa-phone-alt "></i>
                        <div class="product__main-info-contact-phone-title">
                            Gọi điện tư vấn
                        </div>
                        <div class="product__main-info-contact-phone-number">
                            ( 0352.860.701)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 product-tab">
                <div>
                    <a href="#" class="product-active">
                        Mô tả
                    </a>
                    <a href="#" class="product-tab-link">
                        Đánh giá
                    </a>
                </div>
            </div>
            <div class="col-md-12 product-content-wrap">
                <h4 class="product-content">
                    Nintendo Switch - Monster Hunter Rise Edition
                </h4>
                <p class="text-content">
                    <span class="text-1">Nintendo Switch Console</span> Monster Hunter Rise Edition là phiên bản đặc biệt được sản xuất dành cho những tín đồ yêu thích tựa game nổi tiếng Monster Hunter Rise.
                </p>
                <p class="text-content">
                    <span class="text-1">Nintendo Switch Console</span> được xem như một bản nâng cấp nhẹ so với phiên bản tiền nhiệm với thời gian sử dụng lâu hơn, cụ thể trong khoảng từ 4,5 đến 9 tiếng hơn hẳn thế hệ cũ chỉ từ 2,5 đến 6,5 tiếng đó là nhờ vào việc cải tiến chip xử lý bên trong giúp giảm tiêu hao điện năng hơn.
                </p>
                <p class="text-content">
                    <span class="text-1">Nintendo Switch</span> là tên gọi chính thức cho thế hệ máy chơi game tiếp theo của Nintendo. Một chiếc máy chơi game có thể gắn vào TV để dùng như một máy console và khi ra ngoài có thể mang theo để chơi trên một cái tablet cảm ứng cùng với bộ tay cầm không dây dạng module tháo ráp rất độc đáo.
                </p>
                <p class="text-content">
                    <span class="text-1">Nintendo Switch</span> bao gồm một bộ tay cầm và một máy chơi game. Máy chơi game chính là một cái máy tính bảng có kích cỡ vào khoảng 7″ cùng với một cái dock để kết nối với TV. Khi ở nhà, bạn gắn tablet vào dock, dock kết nối với TV, và chơi bằng tay cầm.
                </p>
                <p class="text-content">
                    <span class="text-1">Nintendo Switch</span> Thời lượng pin trên phiên bản V2 được nâng lên tối đa 9 tiếng và còn tùy thuộc vào khả năng vận hành của máy. Ví dụ, nếu chơi game The Legend of Zelda™: Breath of the Wild thì pin chỉ chơi được tầm khoảng 5 tiếng. Phần tablet cũng có thể sạc qua cổng USB-C.
                </p>
                <p class="text-content">
                    <span class="text-1">Cỗ máy Monter Rise Hunter NTD</span> Một tin vui cũng cần phải lưu ý chính là Nintendo Switch sẽ không khóa phân vùng (Region). Điều này sẽ cho phép người chơi có thể sử dụng đĩa game hay download từ khắp các khu vực trên thế giới trên máy.
                </p>
                <iframe width="790" height="365" src="https://www.youtube.com/embed/I122przYD8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="padding-left:5%; margin-top:10px;"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-3 tl-border">
        <div class="product__aside">
            <img class="product-img" src="~/Content/ImageDetail/shipped.png">
            <p class="product__aside-link-heading">
                Giao hàng nhanh chóng
                <span class="text-2">
                    Chỉ trong vòng 24h
                </span>
            </p>
        </div>
        <div class="product__aside">
            <img class="product-img" src="~/Content/ImageDetail/shield.png">
            <p class="product__aside-link-heading">
                Sản phẩm chính hãng
                <span class="text-2">
                    Sản phẩm nhập khẩu 100%
                </span>
            </p>
        </div>
        <div class="product__aside">
            <img class="product-img" src="~/Content/ImageDetail/piggybank.png">
            <p class="product__aside-link-heading">
                Mua hàng tiết kiệm
                <span class="text-2">
                    Rẻ hơn từ 10% đến 30%
                </span>
            </p>
        </div>
        <h5 class="product__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n1.jpg">
            <h6 class="productt__aside-link-heading">Atelier Ryza: Ever</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n2.jpg">
            <h6 class="product__aside-link-heading">BORDERLANDS 3</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n3.jpg">
            <h6 class="product__aside-link-heading">Catherine: Full Body</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n4.jpg">
            <h6 class="product__aside-link-heading">Darksiders Genesis</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n5.jpg">
            <h6 class="product__aside-link-heading">Hades - NS</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n6.jpg">
            <h6 class="product__aside-link-heading">Human Fall Flat</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n7.jpg">
            <h6 class="product__aside-link-heading">hyrule warriors</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="product__aside-list">
            <img class="product__aside-img" src="~/Content/ImageDetail/n8.jpg">
            <h6 class="product__aside-link-heading">jump force DE</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="product__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<!-- end product -->
<!-- product love -->
<div class="row">
    <div class="col-md-12 product__love-title">
        <h4 class="product__love-heading">
            Sản phẩm tương tự
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro1.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Nintendo - Fortnite LE</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">9,200,000₫</p>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro2.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Nintendo - Mario Red & Blue</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">9,180,000₫</p>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro4.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Nintendo with Gray Joy‑Con</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">8,880,000₫</p>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro5.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Nintendo Neon Red Blue</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">8,880,000₫</p>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro6.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Animal Crossing Horizons</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">9,380,000₫</p>
            </div>
            <div class="item">
                <div class="product__panel-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro7.jpg" alt="" style="height:205px;"></a>
                </div>
                <h6>Nintendo Lite - Blue</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">5.210.000đ</p>
                <style>
                    h6 {
                        text-align: center;
                        line-height: 2.5;
                    }

                    .rate-start {
                        text-align: center;
                    }

                    .gia {
                        text-align: center;
                    }
                </style>
            </div>
        </div>
    </div>
</div>
