<a href="@Url.Action("Giohang", "Giohang")" style="color:white; font-weight:bold; text-decoration:none">
    <img src="~/Content/images/shopping-cart.png" style="width:30px; height:30px"  /> Giỏ hàng (@ViewBag.Tongsoluong)
</a>
