
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link href="~/Content/dangnhap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="~/Content/video/introps5.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="cont">
        <div class="form sign-in">
            @using (Html.BeginForm("Dangnhap", "Nguoidung", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h2>Đăng nhập</h2>
                <label>
                    <span>Tên đăng nhập</span>
                    @ViewData["Loi1"]
                    <input type="text" name="username">
                </label>
                <label>
                    <span>Mật khẩu</span>
                    @ViewData["Loi2"]
                    <input type="password" name="password">
                </label>
                <button class="submit" type="submit">Đăng nhập</button>
                <p class="forgot-pass">Quên mật khẩu ?</p>
            }
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>Người mới ?</h2>
                    <P>Đăng ký và tìm hiểu thêm về chúng tôi</P>
                </div>
                <div class="img-text m-in">
                    <h2>Có tài khoản ?</h2>
                    <P>Nếu đã có tài khoản, hãy đăng nhập. Chúng tôi luôn chào đón</P>
                </div>
                <div class="img-btn">
                    <span class="m-up">Đăng Ký</span>
                    <span class="m-in">Đăng Nhập</span>
                </div>
            </div>
            <div class="form sign-up">
                @using (Html.BeginForm("Dangky", "Nguoidung", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label>
                        <span>Họ tên</span>
                        <input type="text" name="HotenKH">
                    </label>
                    <label>
                        <span>Tên đăng nhập</span>
                        <input type="text" name="TenDN">
                    </label>
                    <label>
                        <span>Mật khẩu</span>
                        <input type="password" name="Matkhau">
                    </label>
                    <label>
                        <span>Xác nhận mật khẩu</span>
                        <input type="password" name="Nhaplaimatkhau">
                    </label>
                    <label>
                        <span>Email</span>
                        <input type="text" name="Email">
                    </label>
                    <label>
                        <span>Địa chỉ</span>
                        <input type="text" name="Diachi">
                    </label>
                    <label>
                        <span>Số điện thoại</span>
                        <input type="text" name="Dienthoai">
                    </label>
                    <button type="submit" class="submit">Đăng ký ngay !</button>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/js/script.js"></script>
</body>
</html>