
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Gioithieu-->
<div class="Content">
    <h1>ĐỘI NGŨ GAMESTORE K3T</h1>
    <p>
        "Đội ngũ tập thể trẻ đầy năng động, nhiệt huyết, sáng tạo, kỹ luật và tinh thần tiên phong
        , đam mê công nghệ, các thành viên luôn đem hết tâm huyết tạo nên website kinh doanh tốt nhất"
        .
    </p>
</div>
<!--HInhanh-->
<div class="row">
    <div class="image">
        <div id="zoom-In">
            <figure>
                <img src="~/Content/images/banner-intro.jpg" />
            </figure>
        </div>
    </div>
</div>
<style>
    .Content h1 {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 15px;
        color: #000000;
    }

    .Content p {
        text-align: center;
        font-size: 17px;
    }

    .image {
        display: inline-block;
        text-align: center;
        width: 33%;
        float: left;
        width: 100%;
        height: 100%;
    }

    figure {
        overflow: hidden;
        margin: 0 1px;
    }

    .image img {
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    .image #zoom-In img {
        transform: scale(1);
        transition: 0.3s ease-in-out;
    }

    .image #zoom-In:hover img {
        transform: scale(1.5);
    }
</style>
<!-- Thanh vien-->
<hr class="logo-brand" style="margin-top: 25px; border: 0; border-top: 1px solid #ff0000;" />
<div class="my-team" style="text-align:center; margin-top:25px;">
    <h2>Thành Viên</h2>
</div>
<div class="container-team">
    <div class="box">
        <div class="imgBox">
            <img src="~/Content/images/team2.jpg" />
        </div>
        <div class="details">
            <div class="content">
                <h2>Nguyễn Hoàng Khải</h2>
                <p>
                    Là 1 nhóm trưởng với sở thích chơi game và đam mê
                    công nghệ nên trong đồ án web này nhóm đã thiết kế
                    1 website kinh doanh sản phẩm game nhằm thỏa mãn đam
                    mê chơi game và học tập.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="~/Content/images/team3.jpg" />
        </div>
        <div class="details">
            <div class="content">
                <h2>Đỗ Minh Trí</h2>
                <p>
                    Là một người vui vẻ, thích sưu tầm những phụ kiện
                    game và cùng chung niềm đam mê công nghệ với bạn
                    Khải nên đã gia nhập team K3T để hỗ trợ bạn cùng làm 1 dự án web.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="~/Content/images/team1.jpg" />
        </div>
        <div class="details">
            <div class="content">
                <h2>Võ Nguyễn Anh Tuấn</h2>
                <p>
                    Là một thành viên của GameStoreK3T tôi và thành
                    viên trong nhóm đã cùng nhau tạo nên một trang web
                    là nơi của các bạn trẻ cùng sở thích chơi game, đam mê công nghệ.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="~/Content/images/team4.jpg" />
        </div>
        <div class="details">
            <div class="content">
                <h2>Nguyễn Thanh Trọng</h2>
                <p>
                    Gia nhập Team K3T khoảng 1 tháng. Giữ vai trò
                    Bussiness Analyst trong team. Vui vẻ, hòa đồng và
                    hoạt động với tiêu chí phát triển bản thân, vui chơi lành mạnh.
                </p>
            </div>
        </div>
    </div>
</div>
<style>
    .container-team {
        width: 1280px;
        margin: 30px -10px 240px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .container-team .box {
            position: relative;
            width: 262px;
            height: 50px;
            background: #ff0;
            margin: 10px;
            box-sizing: border-box;
            display: inline-block;
            border-radius: 10px;
        }

        .container-team .box .imgBox {
            position: relative;
            overflow: hidden;
        }
    
        .container .box .imgBox img{
            max-width: 100%;
            transition: transform 1s;
            border-radius: 10px;
        }
        .container .box:hover .imgBox img{
            transform: scale(1.1);
        }
        .container .box .details{
            position: absolute;
            top: 16px;
            left: 10px;
            bottom: -196px;
            right: 10px;
            background: rgba(0,0,0,.8);
            transform: scaleY(0);
            transition: transform .4s;
        }
        .container .box:hover .details{
            transform: scaleY(1);
        }
        .container .box .details .content
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            padding: 15px;
            color: #fff;
        }
        .container .box .details .content h2{
            margin: 0;
            padding: 0;
            font-size: 20px;
            color: #ff0;
        }
        .container .box .details .content p{
            margin: 10px 0 -5px;
            padding: 0;
        }
</style>
