
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="row">
    <div class="col-md-12 breadcrumbs">
        <span>Trang chủ &raquo</span>
        <span class="breadcrumbs__active">Bài viết</span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc1.jpg">
            <h4 class="posts__item-title"><a href="https://motgame.vn/a-plague-tale-requiem-se-ra-mat-vao-nam-2022.game" style="text-decoration:none;color:black">Hậu truyện của A Plague Tale: Requiem sẽ ra mắt vào năm 2022</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Ghost of tsushima
            </div>
            <div class="posts__item-description">
                Cuối cùng thì sau bao ngày trông ngóng, tại sự kiện E3 vừa qua các fan của tựa game A Plague Tale đã có dịp được hào
                hứng khi chứng kiến hậu bản của nó được công bố mang tên A Plague Tale: Requiem. Phần mới nhất sẽ tiếp nối những
                sự kiện diễn ra trước đó từ A Plague Tale: Innocence.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc2.jpg">
            <h4 class="posts__item-title"><a href="https://motgame.vn/cot-truyen-sekiro-shadows-die-twice-con-duong-tu-bo-su-bat-tu.game" style="text-decoration:none;color:black">Cùng giải mã cốt truyện đằng sau bí thuật trường sinh bất tử trong SEKIRO</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Cyperpunk 2077
            </div>
            <div class="posts__item-description">
                SEKIRO dù ra mắt đã lâu, cho đến ngày nay nó vẫn là một viên ngọc quý đúng nghĩa của làng game.
                Từng được The Games Award bầu chọn là GOTY 2019, và nhận vô số giải thưởng uy tín, danh giá khác
                của các trang tin lớn trên thế giới bầu chọn. Dù sở hữu trên mình đồ họa không hề bóng bẩy,
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc3.jpg">
            <h4 class="posts__item-title"><a href="https://vietgame.asia/ratchet-and-clank-rift-apart-danh-gia-game/" style="text-decoration:none;color:black">Trải nghiệm tựa game Ratchet and Clank Rift Apart cực kì vui nhộn xứng đáng với kì vọng</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Control
            </div>
            <div class="posts__item-description">
                Có lẽ với những fan của PlayStation cũng chẳng còn xa lạ gì với dòng game Ratchet and Clank, thương hiệu biểu
                tượng của Insomniac Games dành cho các hệ máy chơi game của Sony Interactiv e Entertainment kể từ các phiên bản
                hệ máy trước như PlayStation 2, PlayStation 3, PlayStation 4,..
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc4.jpg">
            <h4 class="posts__item-title">
                <a href="https://www.oneesports.gg/vn/industry-news/battlefield-2042-chinh-thuc-duoc-cong-bo-voi-loat-hinh-anh-cuc-hoanh-trang/" style="text-decoration:none;color:black">Battlefield 2042 liệu có xứng với mong chờ</a>
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Yakuza: Like a Dragon
            </div>
            <div class="posts__item-description">
                Cuối cùng thì sau bao nhiêu ngày bị rò rỉ trước đó, bom tấn Battlefield 6 cũng đã chính thức lộ diện với tên gọi hoàn toàn mới.
                Battlefield 2042 chắc có lẽ là một trong những cái tên được cộng đồng game thủ nhắc đến nhiều nhất trong suốt những ngày vừa qua.
                Với bối cảnh chiến tranh hiện đại cận tương lai và hệ thống khí tài quân sự đa dạng và phong phú,
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc5.jpg">
            <h4 class="posts__item-title"><a href="https://motgame.vn/nintendo-switch-that-kho-hieu-22.game" style="text-decoration:none;color:black">Tham vọng Breath of the Wild 2 của Nintendo</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                God of War
            </div>
            <div class="posts__item-description">
                Đằng sau thành công mà phiên bản đầu tiên của Breath of the Wild đã làm được, đem về cho Nintendo lợi nhuận siêu khổng lồ cùng
                với giải thưởng Ultimate Game of the Year 2018 lớn nhất trong lịch sử làng game mà không phải bất kì siêu phẩm nào cũng có thể
                làm được điều tương tự, có thể nói The Legend of Zelda: Breath of the Wild chính là một tượng đài của làng game.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/Tintuc6.jpg">
            <h4 class="posts__item-title"><a href="https://vtcpay.vn/blog/top-nhung-tua-game-ban-sung-goc-nhin-thu-nhat-cuc-dinh.html" style="text-decoration:none;color:black">Game bắn súng góc nhìn thứ nhất hay và rẻ: Chơi được trên mọi nền tảng</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                God of tsushima
            </div>
            <div class="posts__item-description">
                Battlefield 2042 chắc có lẽ là một trong những cái tên được cộng đồng game thủ nhắc đến nhiều nhất trong suốt những
                ngày vừa qua. Lấy bối cảnh chiến tranh hiện đại và cận tương lai, cùng với đó là những thay đổi và các loại vũ khí
                mới, Battlefield 2042 sẽ ra mắt vào ngày 22/10 được kỳ vọng từ game thủ.
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h5 class="post__aside-heading">
            Bài viết liên quan
        </h5>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc7.jpg">
            <h6 class="post__aside-link-heading">PS5 và Xbox Series X, đâu mới là cỗ máy load game nhanh nhất thế giới?</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc8.jpg">
            <h6 class="post__aside-link-heading">Danh sách 9 games đang được Sony phát tặng miễn phí 100% trên PS4</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc9.jpg">
            <h6 class="post__aside-link-heading">Toàn cảnh dàn skin Siêu Phẩm 2021: Renekton, Mordekaiser xứng danh "trùm cuối"</h6>
        </div>
        <h5 class="post__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game7.jpg">
            <h6 class="post__aside-link-heading">Ghost of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game8.jpg">
            <h6 class="post__aside-link-heading">Cyperpunk 2077</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game9.jpg">
            <h6 class="post__aside-link-heading">Control</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game10.jpg">
            <h6 class="post__aside-link-heading">Resident evil village</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game11.jpg">
            <h6 class="post__aside-link-heading">Yakuza: Like a Dragon</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game12.jpg">
            <h6 class="post__aside-link-heading">God of War</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game13.jpg">
            <h6 class="post__aside-link-heading">God of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game14.jpg">
            <h6 class="post__aside-link-heading">Nioh 2</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-left: -64px; margin-bottom: 20px;">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
        <div class="pagination">
            <ul class="page-numbers">
                <li><a href="" class="page-number current">1</a></li>
                <li><a href="@Url.Action("page2", "Post")" class="page-number">2</a></li>
                <li><a href="@Url.Action("page3", "Post")" class="page-number">3</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<!-- Video game start -->
<div class="videogame">
    <h2>Một số Video thú vị</h2>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/QoAZEK52zRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/bsi5RjXWuq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/wQATS4HOxdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    .videogame {
        text-align: center;
        color: #DC143C;
    }
</style>
<!-- Video game end -->
