
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="row">
    <div class="col-md-12 breadcrumbs">
        <span>Trang chủ &raquo</span>
        <span class="breadcrumbs__active">Bài viết</span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/product_1.png">
            <h4 class="posts__item-title">
                Kinh nghiệm mua mũ bảo hiểm cho người đi phượt
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Trong bài viết này mình hướng dẫn các bạn chọn lựa loại mũ bảo hiểm chất lượng, đảm bảo sự anh toàn cho chuyến đi phượt của cácbạn. Một xu thế mới đang thực sự hình thành trong thị trường mua bán nón bảo hiểm. Đó là sự xuất hiện của những chiếc nón bảo hiểm ¾ đầu. Đây là nhóm mũ bảo hiểm đa năng vừa dùng...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/post_1.jpg">
            <h4 class="posts__item-title">
                Kinh nghiệm đi phượt bằng xe máy
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Xe máy - phương tiện đi lại phổ biến nhất tại Việt Nam ở thời điểm hiện tại, đây cũng là phương tiện đụơc nhiều người yêu thích sử dụng khi phong trào xê dịch bùng nổ ra. Đối với nhiều bạn trẻ, phượt xe máy như là một niềm đam mê, với những bạn đã thường xuyên đi thì không cần phải nói tuy nhiên đối với những bạn...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/post_2.jpg">
            <h4 class="posts__item-title">
                Giới thiệu các địa điểm phải đến khi đi phươt Hà Giang
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Sau một mùa hè thả hồn với biển thì mùa thu và đông cũng là khoảng thời gian những người yêu du lịch tìm cho mình những miền đất du lịch mới. Và một trong những vùng đất du lịch đẹp đến nao lòng lại mang nhiều sắc thái trong năm không đâu xa chính là vùng Tây Bắc...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/product_4.png">
            <h4 class="posts__item-title">
                Cách bảo vệ mũ bảo hiểm khi sử dụng
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Trong bài viết này mình hướng dẫn các bạn chọn lựa loại mũ bảo hiểm chất lượng, đảmbảo sự anh toàn cho chuyến đi phượt của cácbạn. Một xu thế mới đang thực sự hình thành trong thị trường mua bán nón bảo hiểm. Đó là sự xuất hiện của những chiếc nón bảo hiểm ¾ đầu. Đây là nhóm mũ bảo hiểm đa năng vừa dùng...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/post_3.jpg">
            <h4 class="posts__item-title">
                Những điều cần ghi nhớ trước khi đi phượt
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Lễ hội hoa tam giác mạch sẽ diễn ra tại Hà Giang từ ngày 12/11, thôi thúc nhiều người xách ba lô lên và đi. Có nhiều cách để bạn lên đến vùng đất thần tiên ấy. Bạn có thể đi theo tour qua các công ty du lịch, hoặc theo một cách được khá nhiều người lựa chọn lúc này là đi phượt bằng xe máy...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/images/product_3.png">
            <h4 class="posts__item-title">
                Giới thiệu 5 loại mũ bảo hiểm an toàn và phổ biến nhất
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Thành Long
            </div>
            <div class="posts__item-description">
                Có 5 loại mũ bảo hiểm cơ bản dùng cho những người lái moto 2 bánh, còn các loại khác chỉ mang tính chất chuyên dụng. Tất cả các loại này đều được trang bị dây buộc cằm. Chỉ khi nào người lái xe máy thắt chặt dây buộc cằm sao cho thật vừa vặn với đầu thì tác dụng của những chiếc mũ bảo hiểm mới được phát huy tối đa...
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h5 class="post__aside-heading">
            Bài viết liên quan
        </h5>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/product_1.png">
            <h6 class="post__aside-link-heading">Kinh nghiệm mua mũ bảo hiểm cho người đi phượt</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/post_1.jpg">
            <h6 class="post__aside-link-heading">Kinh nghiệm đi phượt bằng xe máy</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/post_2.jpg">
            <h6 class="post__aside-link-heading">Giới thiệu các địa điểm phải đến khi đi phượt Hà Giang</h6>
        </div>
        <h5 class="post__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_1.png">
            <h6 class="post__aside-link-heading">Mũ bảo hiểm fullface Yoyal QC201</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_10.png">
            <h6 class="post__aside-link-heading">Mũ bảo hiểm fullface Yoyal 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_3.png">
            <h6 class="post__aside-link-heading">Mũ bảo hiểm LS2 đẹp chính hãng</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_7.png">
            <h6 class="post__aside-link-heading">Mũ bảo hiểm mới nhất 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_4.png">
            <h6 class="post__aside-link-heading">Mũ bảo hiểm LS2 chất lượng, bền</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_6.png">
            <h6 class="post__aside-link-heading">Áo Khoác Nam dành cho người đi phượt</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_5.png">
            <h6 class="post__aside-link-heading">Găng tay leo núi cho mới nhất 2020</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/product_12.png">
            <h6 class="post__aside-link-heading">Quần phượt cho Nam</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
        <div class="pagination">
            <ul class="page-numbers">
                <li><a href="" class="page-number">1</a></li>
                <li><a href="" class="page-number current">2</a></li>
                <li><a href="" class="page-number">3</a></li>
                <li><a href="" class="page-number">4</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

