
@{
    ViewBag.Title = "page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 breadcrumbs">
        <span>Trang chủ &raquo</span>
        <span class="breadcrumbs__active">Bài viết</span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt1.png">
            <h4 class="posts__item-title"><a href="https://ben.com.vn/tin-tuc/nhung-phu-kien-khong-the-thieu-khi-so-huu-playstation-5/" style="text-decoration:none;color:black">Loạt phụ kiện khuyên dùng khi sở hữu PS5</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                TAY CẦM DUALSENSE THỨ HAI
            </div>
            <div class="posts__item-description">
                Nếu bạn vừa mới sắm PS5, việc lựa chọn một phụ kiện bổ trợ cũng là một vấn đề quan trọng bởi
                chúng sẽ giúp nâng cao trải nghiệm game của bạn, hay kiêm luôn việc làm đẹp góc chơi game trong nhà bạn.
                Chính vì vậy, trong bài viết này hãy cùng tham khảo những phụ kiện khuyên dùng dành cho người chơi hệ PS5 nhé!
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt2.jpg">
            <h4 class="posts__item-title"><a href="https://vid.dgmartpro.com/ps5-sau-gan-6-thang-choi-game-van-on-nhung-van-con-nhieu-nhuoc-diem/" style="text-decoration:none;color:black">Đánh giá PS5 sau gần 6 tháng: Chơi game ổn nhưng vẫn còn nhiều nhược điểm</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Hướng dẫn sử dụng Playstation 5 (PS5)
            </div>
            <div class="posts__item-description">
                Tính đến nay cũng đã gần 6 tháng kể từ khi PS5 đã được ra mắt với chúng ta rồi. HALO bọn mình cũng đã có
                video unbox máy, so sánh tính năng giữa PS5 và Xbox, đánh giá tay cầm,.. Các bạn có thể xem thêm tại đây!
                Thời điểm này cũng là lúc thích hợp để chúng ta cùng nhìn lại và đánh giá khả năng hoạt động của PS5 trong...
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt3.jpg">
            <h4 class="posts__item-title">
                <a href="https://www.websetnet.net/vi/b%E1%BA%A3n-c%E1%BA%ADp-nh%E1%BA%ADt-ps5-m%E1%BB%9Bi-cho-ph%C3%A9p-b%E1%BA%A1n-l%C6%B0u-tr%E1%BB%AF-tr%C3%B2-ch%C6%A1i-ps5-tr%C3%AAn-%E1%BB%95-USB-chia-s%E1%BA%BB-gen-ch%C3%A9o/" style="text-decoration:none;color:black">
                    Bản cập nhật mới của PS5 cho phép lưu game vào ổ cứng USB cùng nhiều tính năng mới khác
                </a>
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                KẾT NỐI Ổ CỨNG USB NGOÀI ĐẾN PS5
            </div>
            <div class="posts__item-description">
                Giờ đây bạn đã có thể chuyển game từ ổ cứng SSD trong máy PS5 ra ổ cứng USB ngoài để giải phóng dung
                lượng lưu trữ cho cỗ máy chơi game của bạn. Khi muốn chơi lại hoặc tiếp tục với game đã lưu trữ, bạn
                chỉ cần chuyển game từ ổ ngoài vào ổ cứng trong của máy chỉ với vài thao tác đơn giản mà thôi.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt4.jpg">
            <h4 class="posts__item-title"><a href="https://gameshoptl.com/tin-tuc/cach-nhan-ps4-camera-adaptor" style="text-decoration:none;color:black">Hướng dẫn nhận PlayStation Camera adaptor miễn phí</a></h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                PLAYSTATION CAMERA ADAPTOR
            </div>
            <div class="posts__item-description">
                PlayStation Camera adaptor là phụ kiện để bạn kết nối với PlayStation Camera của PS4 với máy PS5
                cho phép bạn chơi các tựa game PlayStation VR. Điều này cho phép bạn sử dụng PlayStation®VR khi
                chơi các tựa game PS4 được hỗ trợ trên console PS5, bao gồm các trò chơi yêu cầu bộ điều khiển PlayStation®Move.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt5.jpg">
            <h4 class="posts__item-title">
                <a href="https://tinhte.vn/thread/hoa-ra-ssd-ps5-khong-he-thieu-dung-luong-vi-sony-ung-dung-cong-nghe-nen-du-lieu-khien-game-rat-nhe.3294600/" style="text-decoration:none;color:black">
                    Hóa ra PS5 dùng công nghệ nén dữ liệu tuyệt vời giúp cho dung lượng game nhẹ hơn 40%
                </a>
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Control Ultimate Edition
            </div>
            <div class="posts__item-description">
                Còn nhớ trong buổi giới thiệu PS5, kiến trúc sư trưởng Mark Cerny đã phân tích sâu về những công
                nghệ được tích hợp trên PS5. Giữa muôn vàn những cải tiến vượt bậc về hiệu năng, đồ họa thì một
                công nghệ ít người chú ý đó chính là Oodle Kraken. Hiểu đơn giản thì đây là một công nghệ nén dữ
                liệu tiên tiến cho RAD Game Tools tạo ra.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/imagedetail/tt6.jpg">
            <h4 class="posts__item-title">
                <a href="https://lag.vn/tin/giai-tri/tong-hop-nhung-mau-tay-cam-ps5-dualsense-custom-cuc-dep-mat-tu-nguoi-ham-mo.html" style="text-decoration:none;color:black">
                    Điểm danh những phiên bản máy PS5 custom cực ấn tượng
                </a>
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                PS5 "SPACE JAM"
            </div>
            <div class="posts__item-description">
                Cho đến hiện tại kể từ khi PS5 lộ diện mạo chính thức thì hàng ngày vẫn có nhiều mẫu custom PS5 được
                ra đời theo sự sáng tạo của các game thủ. Không dừng lại ở 2 tone màu trắng - den, bảng điều khiển
                PS5 trong tay game thủ có thể pha trộn nhiều màu sắc khác nhau, phù hợp với cả những màu sắc đơn giản
                lẫn phong cách nghệ.
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h5 class="post__aside-heading">
            Bài viết liên quan
        </h5>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc7.jpg">
            <h6 class="post__aside-link-heading">PS5 và Xbox Series X, đâu mới là cỗ máy load game nhanh nhất thế giới?</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc8.jpg">
            <h6 class="post__aside-link-heading">Danh sách 9 games đang được Sony phát tặng miễn phí 100% trên PS4</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc9.jpg">
            <h6 class="post__aside-link-heading">Toàn cảnh dàn skin Siêu Phẩm 2021: Renekton, Mordekaiser xứng danh "trùm cuối"</h6>
        </div>
        <h5 class="post__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game7.jpg">
            <h6 class="post__aside-link-heading">Ghost of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game8.jpg">
            <h6 class="post__aside-link-heading">Cyperpunk 2077</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game9.jpg">
            <h6 class="post__aside-link-heading">Control</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game10.jpg">
            <h6 class="post__aside-link-heading">Resident evil village</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game11.jpg">
            <h6 class="post__aside-link-heading">Yakuza: Like a Dragon</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game12.jpg">
            <h6 class="post__aside-link-heading">God of War</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game13.jpg">
            <h6 class="post__aside-link-heading">God of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game14.jpg">
            <h6 class="post__aside-link-heading">Nioh 2</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-left: -64px; margin-bottom: 20px;">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
        <div class="pagination">
            <ul class="page-numbers">
                <li><a href="@Url.Action("Index", "Post")" class="page-number">1</a></li>
                <li><a href="@Url.Action("page2", "Post")" class="page-number current">2</a></li>
                <li><a href="@Url.Action("page3", "Post")" class="page-number">3</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<!-- Video game start -->
<div class="videogame">
    <h2>Một số Video thú vị</h2>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/CeMkfdqPV_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/NzwZuGQA8b4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/sqJvl8bMLcg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    .videogame {
        text-align: center;
        color: #DC143C;
    }
</style>
<!-- Video game end -->