
@{
    ViewBag.Title = "page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="row">
    <div class="col-md-12 breadcrumbs">
        <span>Trang chủ &raquo</span>
        <span class="breadcrumbs__active">Bài viết</span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt9.png">
            <h4 class="posts__item-title">
                Có Nên Mua Ninteno Switch Oled Hay Không? Phiên Bản Nintendo Switch Nào Tốt Nhất?
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                NINTENDO SWITCH OLED
            </div>
            <div class="posts__item-description">
                Cuối cùng Nintendo đã chính thức công bố phiên bản nâng cấp phần cứng của Switch với tên
                gọi Nintendo Switch Oled. Điểm sơ các phiên bản đã ra mắt trước đó: Nintendo Switch V1 bán
                ra vào Tháng Ba 2017, Nintendo Switch V2 và Nintendo Switch Lite cùng ra mắt Tháng Mười 2019.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt10.jpg">
            <h4 class="posts__item-title">
                Tay Cầm Xbox One Và Tay Cầm Xbox Series Có Gì Khác Nhau?
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Xbox One và Xbox Series X | S.
            </div>
            <div class="posts__item-description">
                Một thế hệ console mới cũng có đi chung với bộ điều khiển mới. Trong khi đối thủ chính của
                Series X, PlayStation 5 đã đổi tên bộ điều khiển DualShock đặc trưng của nó thành DualSense,
                thì các bộ điều khiển Series X là một sự cái tiến hơn là thiết kế mới.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt11.jpg">
            <h4 class="posts__item-title">
                Nintendo Switch Phiên bản Đặc Biệt Mario Xanh Đỏ Sắp Lên Kệ Vào Tháng Hai
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Super Mario 3D World
            </div>
            <div class="posts__item-description">
                Để chào đón sự kiện tựa game mới nhất trong series Mario: Super Mario 3D World + Bowser's
                Fury, Nintendo đã chính thức giới thiệu phiên bản màu xanh đỏ đặc trưng của anh chàng Mario
                dành cho máy Nintendo Switch. Đồng thời máy sẽ đi kèm với túi đựng máy tông màu Xanh đỏ bắt
                mắt và họa tiết in chìm ấn tượng.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt12.jpg">
            <h4 class="posts__item-title">
                HƯỚNG DẪN CÀI ĐẶT MÁY NINTENDO SWITCH CHO NGƯỜI CHƠI MỚI
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Nintendo Switch
            </div>
            <div class="posts__item-description">
                Nếu bạn là người chơi mới toanh và vừa tậu chiếc máy Switch, thì đầu tiên chúng ta cần set
                up máy trước khi chơi game. Đừng quá lo lắng vì quá trình này chỉ mất tầm 5 phút là xong và
                sau đây là hướng dẫn chi tiết từng bước, các tips cài đặt máy Nintendo Switch nhanh nhất dành cho bạn.
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt8.png">
            <h4 class="posts__item-title">
                HƯỚNG DẪN TẠO TÀI KHOẢN NINTENDO SWITCH DỄ DÀNG NHẤT
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Nintendo Switch
            </div>
            <div class="posts__item-description">
                Để có thể mua game trên hệ thống eShop, trước tiên bạn cần có một tài khoản gọi là Nintendo Account.
                Vậy cách tạo tài khoản như thế nào? Có mất thêm phí gì không? Bài viết sau đây sẽ hướng dẫn cho các
                bạn cách tạo tài khoản Nintendo một cách đơn giản và nhanh nhất!
            </div>
        </div>
        <div class="posts__item">
            <img class="posts__item-img" src="~/Content/ImageDetail/tt12.jpg">
            <h4 class="posts__item-title">
                Mới Mua Máy Switch, Đừng Bỏ Qua 4 Món Phụ Kiện Này
            </h4>
            <i class="fa fa-folder posts__item-cate-icon"></i>
            <div class="posts__item-cate-name">
                Tin tức
            </div>
            <i class="fa fa-user posts__item-cate-ad-icon"></i>
            <div class="posts__item-cate-ad-name">
                Nintendo Switch
            </div>
            <div class="posts__item-description">
                Hiện nay đa số người chơi mới mua máy Nintendo Switch hầu như bối rối trước hàng hà sa số các món phụ
                kiện, không biết nên lựa chọn cái nào để ưu tiên trước nhất. Hôm nay Mimigame Shop xin tổng lại Top 4 Món
                phụ kiện không thể thiếu khi sở hữu Nintendo Switch, cùng điểm qua nhé:
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h5 class="post__aside-heading">
            Bài viết liên quan
        </h5>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc7.jpg">
            <h6 class="post__aside-link-heading">PS5 và Xbox Series X, đâu mới là cỗ máy load game nhanh nhất thế giới?</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc8.jpg">
            <h6 class="post__aside-link-heading">Danh sách 9 games đang được Sony phát tặng miễn phí 100% trên PS4</h6>
        </div>
        <div class="post__aside">
            <img class="post__aside-img" src="~/Content/images/Tintuc9.jpg">
            <h6 class="post__aside-link-heading">Toàn cảnh dàn skin Siêu Phẩm 2021: Renekton, Mordekaiser xứng danh "trùm cuối"</h6>
        </div>
        <h5 class="post__aside-heading">
            Có thể bạn thích
        </h5>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game7.jpg">
            <h6 class="post__aside-link-heading">Ghost of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                990.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game8.jpg">
            <h6 class="post__aside-link-heading">Cyperpunk 2077</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.490.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game9.jpg">
            <h6 class="post__aside-link-heading">Control</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game10.jpg">
            <h6 class="post__aside-link-heading">Resident evil village</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game11.jpg">
            <h6 class="post__aside-link-heading">Yakuza: Like a Dragon</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                2.220.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game12.jpg">
            <h6 class="post__aside-link-heading">God of War</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                1.120.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game13.jpg">
            <h6 class="post__aside-link-heading">God of tsushima</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                200.000đ
            </span>
        </div>
        <div class="post__aside-list">
            <img class="post__aside-img" src="~/Content/images/game14.jpg">
            <h6 class="post__aside-link-heading">Nioh 2</h6>
            <div class="icon-star">
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
                <i class="fas fa-star post__aside-rate"></i>
            </div>
            <span class="post__aside-price-current">
                500.000đ
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-left: -64px; margin-bottom: 20px;">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
        <div class="pagination">
            <ul class="page-numbers">
                <li><a href="@Url.Action("Index", "Post")" class="page-number">1</a></li>
                <li><a href="@Url.Action("page2", "Post")" class="page-number">2</a></li>
                <li><a href="@Url.Action("page3", "Post")" class="page-number current">3</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<!-- Video game start -->
<div class="videogame">
    <h2>Một số Video thú vị</h2>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/QoAZEK52zRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/bsi5RjXWuq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="300" src="https://www.youtube.com/embed/wQATS4HOxdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    .videogame {
        text-align: center;
        color: #DC143C;
    }
</style>
<!-- Video game end -->
