@{
    ViewBag.Title = "Home Page";
}

<!--popup start-->
<div class="login-popup">
    <div class="box">
        <div class="img-area">
            <div class="img">
            </div>
        </div>
        <div class="form">
            <div class="close">&times;</div>
            <div class="content">
                <div>
                    <h3>CHUNG TAY PHÒNG CHỐNG</h3><br>
                    <h2>
                        DỊCH COVID-19<br>
                        ------------------
                    </h2>
                    <p>
                        GameStoreK3T chuyển sang hoạt động bán hàng trực tuyến
                        từ ngày 20/06.<br>
                        Hotline hỗ trợ: 0374 412 199
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .login-popup {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1099;
        background-color: rgba(0,0,0,0.6);
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease;
    }

        .login-popup.show {
            visibility: visible;
            opacity: 1;
        }

        .login-popup .box {
            background-color: #ffffff;
            width: 570px;
            height: 322px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-wrap: wrap;
            opacity: 0;
            margin-left: 50px;
            transition: all 1s ease;
            border-radius: 15px;
        }

        .login-popup.show .box {
            opacity: 1;
            margin-left: 0;
        }

        .login-popup .box .img-area {
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            overflow: hidden;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .login-popup .box .img-area h1 {
                font-size: 30px;
            }

            .login-popup .box .img-area .img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 91.6%;
                background-image: url('../../Content/images/djtmecorona.jpg');
                background-size: cover;
                background-position: center;
                animation: zoomInOut 7s linear infinite;
                z-index: -1;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

        .login-popup .box .form {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 40px 30px;
        }

            .login-popup .box .form .close {
                position: absolute;
                right: 10px;
                top: 0px;
                font-size: 30px;
                cursor: pointer;
            }

    .box .content h3 {
        color: #333;
        line-height: 1em;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    .box .content h2 {
        font-size: 30px;
        color: #ff4d54;
        font-weight: bold;
    }

    .box .content p {
        text-align: center;
    }
</style>
<!--end popup-->
<!-- menu list -->
<div class="row backroud">
    <div class="col-md-3">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fab fa-playstation"></i></g></svg>
                <span class="text-2">PlayStation 5</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fab fa-playstation"></i></g></svg>
                <span class="text-2">PlayStation 4</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">
                <svg class="menu__item-icon" viewBox="0 0 64 64" width="15" height="15"><g><i class="fab fa-xbox"></i></g></svg>
                <span class="text-2">Xbox Series X | S</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" viewBox="0 0 512 512" width="15" height="15"><g><i class="fab fa-xbox"></i></g></svg>
                <span class="text-2">Xbox One | Xbox 360</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 513.529 513.529" height="15" viewBox="0 0 513.529 513.529" width="15"><g><i class="fas fa-gamepad"></i></g></svg>
                <span class="text-2">Nintendo Switch</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fas fa-gamepad"></i></g></svg>
                <span class="text-2">Nintendo Switch Lite</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fab fa-steam"></i></g></svg>
                <span class="text-2">Game</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="far fa-newspaper"></i></g></svg>
                <span class="text-2">Bản Tin</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fas fa-keyboard"></i></g></svg>
                <span class="text-2">Phụ Kiện</span>
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15"><g><i class="fas fa-tools"></i></g></svg>
                <span class="text-2">Sửa Chữa</span>
            </a>
        </div>
    </div>
    <div class="col-md-9 slider">
        <div class="row">
            <div class="col-md-8 slider-left">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Content/images/banner1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/images/banner2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/images/banner3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/images/banner4.jpg" alt="Four slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/images/banner5.jpg" alt="Five slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="slide__left-bottom">
                    <div class="slide__left-botom-one">
                        <img class="slide__left-bottom-one-img" src="~/Content/images/banner6.jpg">
                    </div>
                    <div class="slide__left-bottom-two">
                        <img class="slide__left-bottom-tow-img" src="~/Content/images/banner7.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4 slide__right">
                <img class="slide__right-img" src="~/Content/images/banner8.jpg">
            </div>
        </div>
    </div>
</div>
<!-- end menu list -->
<!-- bestselling -->
<div class="row">
    <div class="bestselling__heading-wrap">
        <img class="bestselling__heading-img" src="~/Content/images/bestselling.png" alt="Sản phẩm bán chạy">
        <div class="bestselling__heading">Top bán chạy nhất tuần</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-img" src="~/Content/images/sanpham1.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">PlayStation 5 / PS5 DE</a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                21,800,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-img" src="~/Content/images/sanpham2.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">PlayStation PS4 Pro 1TB</a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                7,790,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-img" src="~/Content/images/sanpham3.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">Xbox Series S</a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                11,800,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-img" src="~/Content/images/sanpham4.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">Xbox Series X</a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                19,300,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-img" src="~/Content/images/sanpham5.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">
                    Nintendo Switch MHWRE
                </a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                12,500,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 bestselling__product">
        <div class="bestselling__product-img-box">
            <img class="bestselling__product-im" src="~/Content/images/sanpham6.jpg" alt="">
        </div>
        <div class="bestselling__product-text">
            <h3 class="bestselling__product-title">
                <a href="#" class="bestselling__product-link">Nintendo Switch Grey Joy</a>
            </h3>
            <div class="bestselling__product-rate-wrap">
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
                <i class="fas fa-star bestselling__product-rate"></i>
            </div>
            <span class="bestselling__product-price">
                9,200,000₫
            </span>
            <div class="bestselling__product-btn-wrap">
                <button class="bestselling__product-btn">Xem hàng</button>
            </div>
        </div>
    </div>
</div>
<!-- San pham moi ve -->
<hr class="gach-ngang" />
<div class="row">
    <div class="bestselling__heading-wrap">
        <img class="bestselling__heading-img" src="~/Content/images/newilove.jpg" alt="Sản phẩm bán chạy">
        <div class="bestselling__heading">Sản phẩm mới tháng 6</div>
    </div>
</div>
<div class="clearilove"></div>
<style>
    .gach-ngang {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .clearilove {
        margin-top: 20px;
    }
</style>
<div class="row">
    <div class="col-md-6 bestselling__banner-left">
        <img class="bestselling__banner-left-img" src="~/Content/images/banner9.jpg" alt="">
    </div>
    <div class="col-md-6 bestselling__banner-right">
        <img class="bestselling__banner-right-img" src="~/Content/images/banner10.jpg" alt="">
    </div>
</div>
<hr />
<!-- end bestselling -->
<!-- product -->
<div class="row">
    <div class="col-md-3 product__sidebar">
        <div class="product__sidebar-heading">
            <h4 class="product__sidebar-title">
                <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512">
                    <g><i class="fab fa-xbox"></i></g>
                </svg>
                &nbsp; Tay Cầm Xbox
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6 product__sidebar-item">
                <img class="product__sidebar-item-img" src="~/Content/images/sanpham7.jpg" alt="">
                <a href="" class="product__sidebar-item-name">Xbox Series White</a>
            </div>
            <div class="col-md-6 product__sidebar-item">
                <img class="product__sidebar-item-img" src="~/Content/images/sanpham8.jpg" alt="">
                <a href="" class="product__sidebar-item-name">Xbox Series Creeper</a>
            </div>
            <div class="col-md-6 product__sidebar-item">
                <img class="product__sidebar-item-img" src="~/Content/images/sanpham9.jpg" alt="">
                <a href="" class="product__sidebar-item-name">Xbox Series Rep</a>
            </div>
            <div class="col-md-6 product__sidebar-item">
                <img class="product__sidebar-item-img" src="~/Content/images/sanpham10.jpg" alt="">
                <a href="" class="product__sidebar-item-name">Xbox Series Pig</a>
            </div>
        </div>
        <div class="product__sidebar-img-wrap">
            <video width="255" height="300" controls>
                <source src="~/Content/video/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="col-md-9 product__content">
        <ul class="product__list hide-on-mobile">
            <li class="product__item product__item--active">
                <a href="#" class="product__link">PlayStation 5</a>
            </li>
            <li class="product__item">
                <a href="#" class="product__link">PlayStation 4</a>
            </li>
            <li class="product__item">
                <a href="#" class="product__link">XBox One / 360</a>
            </li>
            <li class="product__item">
                <a href="#" class="product__link">Nintendo Switch</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro1.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch - Fortnite Limited</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-old">
                            <strike>11,380,000₫</strike>
                        </span>
                        <span class="product__panel-price-current">
                            9,200,000₫
                        </span>
                    </div>
                    <div class="product__panel-price-sale-off">
                        -12%
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro2.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch - Mario Red & Blue</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-old">
                            <strike>10,800,000₫</strike>
                        </span>
                        <span class="product__panel-price-current">
                            9,380,000₫
                        </span>
                    </div>
                    <div class="product__panel-price-sale-off">
                        -6%
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro3.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch - Monster Hunter Rise</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-old">
                            <strike>14,850,000₫</strike>
                        </span>
                        <span class="product__panel-price-current">
                            11,380,000₫
                        </span>
                    </div>
                    <div class="product__panel-price-sale-off">
                        -9%
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro4.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch with Gray Joy‑Con</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-old">
                            <strike>9,800,000₫</strike>
                        </span>
                        <span class="product__panel-price-current">
                            9,380,000₫
                        </span>
                    </div>
                    <div class="product__panel-price-sale-off">
                        -4%
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro5.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch with Neon Red Blue</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-current">
                            9,380,000₫
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro6.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">Nintendo Switch - Animal Crossing</a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-current">
                            9,380,000₫
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro7.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">
                            Nintendo Switch Neon Blue Red
                        </a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-current">
                            7,780,000₫
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product__panel-item">
                <div class="product__panel-item-wrap">
                    <div class="product__panel-img-wrap">
                        <a href="product.html"><img class="product__panel-img" src="~/Content/images/pro8.jpg" alt=""></a>
                    </div>
                    <h3 class="product__panel-heading">
                        <a href="product.html" class="product__panel-link">
                            New Nintendo Switch Yellow
                        </a>
                    </h3>
                    <div class="product__panel-rate-wrap">
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                        <i class="fas fa-star product__panel-rate"></i>
                    </div>
                    <div class="product__panel-price">
                        <span class="product__panel-price-current">
                            12.210.000đ
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end product -->
<!-- Video Slider start -->
<hr class="logo-brand" />
<div class="tieu-de">
    <h2>Xem Ngay !</h2>
    <p>Hãy xem và chọn cho mình một sản phẩm yêu thích nào :3</p>
    <style>
        .tieu-de h2 {
            text-align: center;
            font-weight: bold;
            color: red;
        }

        .tieu-de p {
            text-align: center;
        }
    </style>
</div>
<div class="slider-video">
    <div class="slide1 active">
        <iframe src="https://www.youtube.com/embed/0MTp4Unsbjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide1">
        <iframe src="https://www.youtube.com/embed/cNqxZinlWJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide1">
        <iframe src="https://www.youtube.com/embed/AWNW9npvYTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide1">
        <iframe src="https://www.youtube.com/embed/u4-FCsiF5x4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide1">
        <iframe src="https://www.youtube.com/embed/bJxJIafN9go" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="navigation">
        <i class="fas fa-chevron-left prev-btn"></i>
        <i class="fas fa-chevron-right next-btn"></i>
    </div>
    <div class="navigation-visibility">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
    </div>
</div>
<style>
    .slider-video {
        position: relative;
        background: #000116;
        width: 1090px;
        min-height: 550px;
        margin: 10px;
        overflow: hidden;
        border-radius: 10px;
    }
    .slider-video .slide1{
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: circle(0% at 0 50%);
    }
    .slider-video .slide1.active{
      clip-path: circle(150% at 0 50%);
      transition: 2s;
    }
    .slider-video .slide1 iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .navigation{
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    .slider-video:hover .navigation{
      opacity: 1;
    }
    .prev-btn, .next-btn{
      z-index: 999;
      font-size: 2em;
      color: #222;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      cursor: pointer;
    }
    .prev-btn{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .next-btn{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .navigation-visibility{
      z-index: 999;
      display: flex;
      justify-content: center;
    }
    .navigation-visibility .slide-icon{
      z-index: 999;
      background: rgba(255, 255, 255, 0.5);
      width: 20px;
      height: 10px;
      transform: translateY(-50px);
      margin: 0 6px;
      border-radius: 2px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    .navigation-visibility .slide-icon.active{
      background: #4285F4;
    }
</style>
<script type="text/javascript">
    const slider = document.querySelector(".slider-video");
    const nextBtn = document.querySelector(".next-btn");
    const prevBtn = document.querySelector(".prev-btn");
    const slides = document.querySelectorAll(".slide1");
    const slideIcons = document.querySelectorAll(".slide-icon");
    const numberOfSlides = slides.length;
    var slideNumber = 0;

    //image slider next button
    nextBtn.addEventListener("click", () => {
        slides.forEach((slide) => {
            slide.classList.remove("active");
        });
        slideIcons.forEach((slideIcon) => {
            slideIcon.classList.remove("active");
        });

        slideNumber++;

        if (slideNumber > (numberOfSlides - 1)) {
            slideNumber = 0;
        }

        slides[slideNumber].classList.add("active");
        slideIcons[slideNumber].classList.add("active");
    });

    //image slider previous button
    prevBtn.addEventListener("click", () => {
        slides.forEach((slide) => {
            slide.classList.remove("active");
        });
        slideIcons.forEach((slideIcon) => {
            slideIcon.classList.remove("active");
        });

        slideNumber--;

        if (slideNumber < 0) {
            slideNumber = numberOfSlides - 1;
        }

        slides[slideNumber].classList.add("active");
        slideIcons[slideNumber].classList.add("active");
    });

    //image slider autoplay
    var playSlider;

    var repeater = () => {
        playSlider = setInterval(function () {
            slides.forEach((slide) => {
                slide.classList.remove("active");
            });
            slideIcons.forEach((slideIcon) => {
                slideIcon.classList.remove("active");
            });

            slideNumber++;

            if (slideNumber > (numberOfSlides - 1)) {
                slideNumber = 0;
            }

            slides[slideNumber].classList.add("active");
            slideIcons[slideNumber].classList.add("active");
        }, 4000);
    }
    repeater();

    //stop the image slider autoplay on mouseover
    slider.addEventListener("mouseover", () => {
        clearInterval(playSlider);
    });

    //start the image slider autoplay again on mouseout
    slider.addEventListener("mouseout", () => {
        repeater();
    });
</script>
<!--end video slider-->
<!-- product love -->
<hr class="ilovepro" />
<div class="row">
    <div class="col-md-12 product__love-title">
        <h2 class="product__love-heading">
            Có thể bạn thích
        </h2>
        <style>
            .product__love-heading {
                text-align: center;
            }

            .ilovepro {
                margin-top: 30px;
                margin-bottom: 10px;
            }
        </style>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game1.jpg" alt=""></a>
                </div>
                <h6>Devil May Cry 5</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">1.210.000đ</p>
            </div>
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game2.jpg" alt=""></a>
                </div>
                <h6>Resident Evil Village</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">2.510.000đ</p>
            </div>
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game3.jpg" alt=""></a>
                </div>
                <h6>Maneater - US</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">1.850.000đ</p>
            </div>
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game4.jpg" alt=""></a>
                </div>
                <h6>Marvel's Spider-Man</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">1.315.000đ</p>
            </div>
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game6.jpg" alt=""></a>
                </div>
                <h6>Overkill- Mario Super</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">1.515.000đ</p>
            </div>
            <div class="item">
                <div class="product-img-wrap">
                    <a href="product.html"><img class="product__panel-img" src="~/Content/images/game5.jpg" alt=""></a>
                </div>
                <h6>Mortal Kombat 11: Ultimate</h6>
                <div class="rate-start">
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                    <i class="fas fa-star product__panel-rate"></i>
                </div>
                <p class="gia">2.210.000đ</p>
                <style>
                    h6 {
                        text-align: center;
                        line-height: 2.5;
                    }

                    .rate-start {
                        text-align: center;
                    }

                    .gia {
                        text-align: center;
                    }
                </style>
            </div>
        </div>
    </div>
    <!-- end product love -->
    <!-- image beautiful start -->
    <div class="bannerquangcao">
        <img src="~/Content/images/ditconmemay.jpg" />
    </div>
    <div class="clear"></div>
    <div class="row-image">
        <img src="~/Content/images/xboxxads.jpg" />
        <img src="~/Content/images/ps5ads.jpg" />
        <img src="~/Content/images/switchads.jpg" />
    </div>
    <style>
        .bannerquangcao img {
            width: 100%;
            height: 100%;
        }

        .row-image img {
            width: 33%;
            height: 100%;
            justify-content: space-evenly;
            transition: 0.6s ease-in-out;
        }

            .row-image img:hover {
                transform: scale(1.1);
            }

        .clear {
            margin-bottom: 5px;
        }
    </style>
    <!-- image beautiful end -->
    <!-- SECTION BRAND-LOGO START-->
    <div class="section brands container">
        <hr class="logo-brand" />
        <div class="glide" id="glide2">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <img src="~/Content/images/EA.jpg" />
                    </li>
                    <li class="glide__slide">
                        <img src="~/Content/images/ps4.png" />
                    </li>
                    <li class="glide__slide">
                        <img src="~/Content/images/steam.png" />
                    </li>
                    <li class="glide__slide">
                        <img src="~/Content/images/UBSoft.png" />
                    </li>
                    <li class="glide__slide">
                        <img src="~/Content/images/xbox.png" />
                    </li>
                </ul>
            </div>
        </div>
        <style>
            .brands li img {
                width: 45%;
                object-fit: contain;
                height: 12rem;
            }

            .logo-brand {
                margin-top: 25px;
                border: 0;
                border-top: 1px solid #ff0000;
            }
        </style>
    </div>
    <!-- logo game end -->
</div>

<!-- BLOG START-->
<div class="name-tintuc" style="font-size:30px; font-weight:bold; text-align:center; color:red;">Tin Tức</div>
<div class="container-blog">
    <div class="card">
        <div class="imgBx">
            <img src="~/Content/images/blog1.jpg" />
        </div>
        <div class="content">
            <h2>Xbox One X / S</h2>
            <p>
                Các trò chơi Switch nhiều người chơi nhất tại địa phương đảm
                bảo hai điều: khoảng thời gian thực sự vui vẻ với bạn bè và cả
                những người hàng xóm thiếu ngủ nếu bạn sống trong một căn hộ
                hoặc gần những ngôi nhà khác.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="~/Content/images/blog2.jpg" />
        </div>
        <div class="content">
            <h2>Best PS5 games</h2>
            <p>
                Cả Xbox One S và Xbox One X đều hỗ trợ HDR cho các trò chơi
                video hỗ trợ. Công nghệ này tối ưu hóa trình bày màu sắc, độ
                sáng và độ tương phản của hình ảnh cho phép nó gần giống với
                đời thực hơn.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="~/Content/images/blog3.jpg" />
        </div>
        <div class="content">
            <h2>Mario Supper on NTW</h2>
            <p>
                Bạn đã có cho mình một chiếc PS5 đáng mơ ước? Sau đó, bạn sẽ
                tìm kiếm các trò chơi PS5 tốt nhất để lấp đầy thư viện của mình,
                May mắn thay, chúng tôi ở đây để trợ giúp.
            </p>
        </div>
    </div>
</div>
<style>
    .container-blog {
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }

        .container-blog .card {
            position: relative;
            max-width: 300px;
            height: 215px;
            background: #F7EAB5;
            margin: 30px 10px;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease-in-out
        }

            .container-blog .card:hover {
                height: 420px;
            }

            .container-blog .card .imgBx {
                position: relative;
                width: 260px;
                height: 260px;
                top: -60px;
                z-index: 1;
                text-align: center;
            }

                .container-blog .card .imgBx img {
                    max-width: 100%;
                    border-radius: 4px;
                }

            .container-blog .card .content {
                position: relative;
                margin-top: -140px;
                padding: 10px 15px;
                text-align: center;
                color: #111;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-in-out;
            }

            .container-blog .card:hover .content {
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
                transition-delay: 0.3s;
            }
</style>
<!-- Blog end-->

<hr class="logo-brand" />
<!--intro store start -->
<section class="section">
    <div class="product-banner">
        <div class="left">
            <img src="~/Content/images/driving.jpg" alt="" />
        </div>
        <div class="right">
            <div class="content">
                <h2><span class="discount">15% </span> SALE OFF</h2>
                <h1>
                    <span>Logitech G29</span>
                    <span>DRIVING FORCE PS5</span>
                </h1>
                <div class="btn-group">
                    <button class="button">Mua Ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .product-banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50%;
        background-color: #E9E9E7;
    }

        .product-banner .left img {
            object-fit: cover;
            height: 100%;
            width: 115%;
        }

        .product-banner .right {
            align-self: center;
            text-align: center;
            padding: 1.6rem;
            padding-left: 20%;
        }

        .product-banner .content h2 {
            color: #fbb419;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .product-banner .content .discount {
            color: #b888ff;
        }

        .product-banner .content h1 span {
            color: #000;
            font-size: 50px;
            font-weight: 700;
            display: block;
            line-height: 1;
        }

    .btn-group .button {
        background-color: #f24137; /* Green */
        border: 1px solid green;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        float: left;
        border-radius: 3px;
    }

        .btn-group .button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        .btn-group .button:hover {
            background-color: white;
            color: #000;
        }
</style>
<!--intro store end -->
<!--Start automatic Popup-->
<script>
    const loginPopup = document.querySelector(".login-popup");
    const close = document.querySelector(".close");

    window.addEventListener("load", function () {
        showPopup();
    })
    function showPopup() {
        const timeLimit = 1 // seconds;
        let i = 0;
        const timer = setInterval(function () {
            i++;
            if (i == timeLimit) {
                clearInterval(timer);
                loginPopup.classList.add("show");
            }
            console.log(i)
        }, 1200);
    }
    close.addEventListener("click", function () {
        loginPopup.classList.remove("show");
    })
</script>
<!--End automatic popup-->