
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- maps -->
<div class="row">
    <div class="col-md-12 maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2669768411643!2d106.68484191474421!3d10.790852661878102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f40cbb84f0b%3A0x99996692dcfe2db1!2sMimi%20Game!5e0!3m2!1sen!2s!4v1624461348010!5m2!1sen!2s" width="1110" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<!-- end maps -->
<!-- contact -->
<div class="row">
    <div class="col-md-6">
        <h5 class="title-contact">
            Liên hệ với chúng tôi
        </h5>
        <p class="text-contact">
            Để không ngừng nâng cao chất lượng dịch vụ và đáp ứng tốt hơn nữa các yêu cầu của Quý khách, chúng tôi mong muốn nhận được các thông tin phản hồi. Nếu Quý khách có bất kỳ thắc mắc hoặc đóng góp nào, xin vui lòng liên hệ với chúng tôi theo thông tin dưới đây. Chúng tôi sẽ phản hồi lại Quý khách trong thời gian sớm nhất.
        </p>
        <h5 class="title-contact">
            Thông tin liên hệ
        </h5>
        <ul class="contact-list">
            <li class="contact-item">
                <a class="contact-link" href="#">Gamestorek3t.com</a>
            </li>
            <li class="contact-item">
                <a class="contact-link" href="#">SĐT: 0352.860.701</a>
            </li>
            <li class="contact-item">
                <a class="contact-link" href="#">Email: GameStoreK3T@gmail.com</a>
            </li>
            <li class="contact-item">
                <a class="contact-link" href="#">Địa chỉ: 26/3 Phan Chu Trinh, Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h5 class="title-contact">
            Đăng ký tư vấn miễn phí
        </h5>
        <p class="text-contact">Quý khách vui lòng để lại thông tin để nhân viên tư vấn điện lại cho bạn sớm nhất!</p>
        <form>
            <input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Họ tên của bạn...">
            <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email của bạn...">
            <input type="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Số điện thoại...">
            <textarea name="" id="content" cols="200" rows="15" placeholder="Nội dung cần tư vấn..."></textarea>
            <button type="button" class="btn btn-danger">Gửi liên hệ</button>
        </form>
    </div>
</div>

